<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /trac-sales/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /trac-sales/index.html [L]
</IfModule>
