<div class="space-y-8">
  <div class="grid grid-cols-1 gap-2 lg:grid-cols-1">
    <div class="panel">
      <div class="mb-5 flex items-center justify-between">
        <h5 appDynamicFontSize="title" class="text-lg font-semibold dark:text-white-light">{{ entity_name | translate }}</h5>

        <button appDynamicFontSize="body" type="button" class="btn btn-danger mr-5 ltr:rounded-r rtl:rounded-l" (click)="location.back()">
          {{ 'back' | translate }}
        </button>
      </div>
      <div class="mb-5">
        <div [innerHTML]="pageContent | safeHtml" appHighlight></div>
      </div>
    </div>
  </div>
</div>
