<li class="py-[5px]">
    <button type="button" class="flex"
        (click)="toggleTreeview(item.id)">
        <i
            class="fa-solid fa-angle-down w-5 h-5 text-primary inline relative ltr:mr-2 rtl:ml-2"
            *ngIf="item.children && item.children.length > 0"
            [class.fa-angle-down]="!isExpanded(item.id)"
            [class.fa-angle-up]="isExpanded(item.id)"></i>
        <i
            class="fa-solid fa-folder relative inline text-primary ltr:mr-2 rtl:ml-2"></i>
        <span
            class="text-primary border border-primary rounded-full px-2">{{
            formatOrderNumber(item.order_no) }}</span>
        <a href="javascript:;" (click)="selectMenu(item)"
            class="text-primary hover:underline px-2">
            {{ item.name | translate }}
        </a>
        <span
            class="text-danger border border-danger rounded-full pl-1"
            (click)="remove(item.id)">
            <i
                class="fa-solid fa-xmark text-sm h-5 w-5 shrink-0 ltr:mr-1.5 rtl:ml-1.5"></i>
        </span>
    </button>
    <div *ngIf="isExpanded(item.id)"
        [@slideDownUp]="isExpanded(item.id) ? 'open' : 'closed'"
        class="accordion-content">
        <ul class="ltr:pl-14 rtl:pr-14">
            <app-menu-item
                *ngFor="let child of item.children"
                [item]="child" [treeview]="treeview"></app-menu-item>
        </ul>
    </div>
</li>
