
::ng-deep {
  formly-form.repeat-table-form > formly-field > formly-group {
    display: flex;
    gap: 0.5rem;
    /* justify-content: space-between; */
  }
 
  @media (max-width: 767px) {
    formly-form.repeat-table-form > formly-field > formly-group {
      flex-direction: column !important;
    }
  }
}
