<div class="repeat-table-field">
  <div class="grid">
    <form [formGroup]="editForm" class="flex items-center space-x-4">
      <!-- Formly Form -->
      <formly-form [form]="editForm" [fields]="getFieldGroup()" class="repeat-table-form flex-grow"></formly-form>

      <!-- Buttons Section -->
      <div class="flex space-x-2">
        <button type="button" class="btn-primary rounded-md border border-[#e0e6ed] px-4 py-2 font-semibold" (click)="saveRow()">
          {{ currentRowIndex !== null ? 'Update' : 'Add' }}
        </button>

        <button type="button" class="btn-danger rounded-md border border-[#e0e6ed] px-4 py-2 font-semibold" (click)="resetRow()">
          {{ currentRowIndex !== null ? 'Back' : 'Reset' }}
        </button>
      </div>
    </form>
  </div>

  <div class="invalid-feedback" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <!-- Table displaying the added rows -->
  <table class="mb-4 table-fixed" *ngIf="formArray && formArray.length > 0">
    <thead>
      <tr>
        <th class="px-3 py-2" *ngFor="let field of getFieldGroup()" [ngClass]="{ hidden: field.props && field.props['hideColumn'] }">
          {{ field.props?.label || field.key }}
        </th>
        <th class="px-3 py-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fgRow of formArray.controls; let i = index">
        <td class="truncate px-3 py-2" *ngFor="let field of getFieldGroup()" [ngClass]="{ hidden: field.props && field.props['hideColumn'] }">
          <ng-container *ngIf="field.type !== 'image' && field.type !== 'file' && fgRow.get(coerceKeyToString(field.key ?? ''))?.value as fieldValue">
            {{ getSafeDisplayValue(fieldValue, field.props?.options) }}
          </ng-container>
          <ng-container *ngIf="(field.type === 'image' || field.type === 'file') && isImageUrl(fgRow.value, coerceKeyToString(field.key ?? '')); else showUrl">
            <img
              [title]="
                (getImageSrc(fgRow.value, coerceKeyToString(field.key ?? ''), true) || '').includes('http')
                  ? 'Download the file ' + getFileExtension(getImageSrc(fgRow.value, coerceKeyToString(field.key ?? '')), i)
                  : ''
              "
              (click)="downloadFile(getImageSrc(fgRow.value, coerceKeyToString(field.key ?? '')), i)"
              [src]="getImageSrc(fgRow.value, coerceKeyToString(field.key ?? ''))"
              alt="Image"
              class="max-h-16 max-w-16 cursor-pointer rounded-md"
            />
          </ng-container>
          <ng-template #showUrl>
            <div
              class="cursor-pointer truncate"
              [ngClass]="{ 'cursor-auto text-blue-600': (getImageSrc(fgRow.value, coerceKeyToString(field.key ?? '')) || '').includes('http') }"
              appDynamicFontSize="body"
              (click)="downloadFile(getImageSrc(fgRow.value, coerceKeyToString(field.key ?? '')), i)"
              [title]="
                (getImageSrc(fgRow.value, coerceKeyToString(field.key ?? ''), true) || '').includes('http')
                  ? 'Download the file ' + getFileExtension(getImageSrc(fgRow.value, coerceKeyToString(field.key ?? '')), i)
                  : ''
              "
            >
              {{ getFileExtension(getImageSrc(fgRow.value, coerceKeyToString(field.key ?? '')), i) }}
            </div>
          </ng-template>
        </td>
        <td class="px-3 py-2">
          <div class="flex gap-2">
            <i class="fa-pen-to-square fa-regular h-3.5 w-3.5 cursor-pointer" (click)="editRow(i)"></i>
            <i class="fa-regular fa-trash-can h-3.5 w-3.5 cursor-pointer" (click)="deleteRow(i)"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
