<div class="space-y-8">
  <div class="grid grid-cols-1 gap-6 lg:grid-cols-1">
    <div class="panel">
      <div class="mb-5">
        <div class="mt-3 flex flex-wrap border-b border-white-light dark:border-[#191e3a]">
          <a href="javascript:;"
            class="-mb-[1px] block border border-transparent p-3.5 py-2 !outline-none transition duration-300 hover:text-primary dark:hover:border-b-black"
            [ngClass]="{ '!border-white-light !border-b-white  text-primary dark:!border-[#191e3a] dark:!border-b-black': section.toLowerCase() === 'section1' }"
            (click)="section = 'section1'">
            {{ 'step_1' | translate }}
          </a>
          <a href="javascript:;"
            class="-mb-[1px] block border border-transparent p-3.5 py-2 !outline-none transition duration-300 hover:text-primary dark:hover:border-b-black"
            [ngClass]="{ '!border-white-light !border-b-white text-primary dark:!border-[#191e3a] dark:!border-b-black': section.toLowerCase() === 'section2' }"
            (click)="section = 'section2'">
            {{ 'step_2' | translate }}
          </a>
          <a href="javascript:;"
            class="-mb-[1px] block border border-transparent p-3.5 py-2 !outline-none transition duration-300 hover:text-primary dark:hover:border-b-black"
            [ngClass]="{ '!border-white-light !border-b-white text-primary dark:!border-[#191e3a] dark:!border-b-black': section.toLowerCase() === 'section3' }"
            (click)="section = 'section3'">
            {{ 'step_3' | translate }}
          </a>
        </div>
        <div class="flex-1 pt-5 text-sm">
          <div *ngIf="section.toLowerCase() === 'section1'">
            <h4 class="mb-4 text-2xl font-semibold">{{ 'select_template' | translate }}</h4>
            <div class="mb-4">
              <!-- form controls -->
              <form [formGroup]="importForm" (ngSubmit)="getTemplateDetail()">
                <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
                  <div>
                    <label for="import_template">{{ 'import_template' | translate }} <span
                        class="text-danger">*</span></label>
                    <select id="import_template" formControlName="import_template" class="form-select text-white-dark"
                      required (change)="getIndividualFields()">
                      <option value="">{{ 'select_import_template' | translate }}</option>
                      <option *ngFor="let importTemplate of importTemplates" [value]="importTemplate.uuid">
                        {{importTemplate.name}}
                      </option>
                    </select>
                  </div>
                  <div>
                    <label for="import_template_file">{{ 'import_template_file' | translate }} <span
                        class="text-danger">*</span></label>
                    <input id="import_template_file" type="file" (change)="onFileChange($event)"
                      class="rtl:file-ml-5 form-input p-0 file:border-0 file:bg-primary/90 file:px-4 file:py-2 file:font-semibold file:text-white file:hover:bg-primary ltr:file:mr-5"
                      required accept=".xlsx" />
                  </div>

                  <!-- Max Data Row (Read-only) -->
                  <div>
                    <label for="max_data_row">{{ 'Max Data Row' | translate }} <span
                        class="text-danger">*</span></label>
                    <input min="1" id="max_data_row" type="text" formControlName="max_data_row"
                      class="form-input text-white-dark" readonly />
                  </div>

                  <!-- Data Header Row -->
                  <div>
                    <label for="data_header_row">{{ 'Data Header Row' | translate }} <span
                        class="text-danger">*</span></label>
                    <input min="1" id="data_header_row" type="number" formControlName="data_header_row"
                      class="form-input text-white-dark" required />
                  </div>

                  <!-- Data Start Row -->
                  <div>
                    <label for="data_start_row">{{ 'Data Start Row' | translate }} <span
                        class="text-danger">*</span></label>
                    <input min="0" id="data_start_row" type="number" formControlName="data_start_row"
                      class="form-input text-white-dark" />
                  </div>

                  <!-- Data End Row -->
                  <div>
                    <label for="data_end_row">{{ 'Data End Row' | translate }}
                      <span class="text-danger">*</span>
                    </label>
                    <input min="0" id="data_end_row" type="number" formControlName="data_end_row"
                      class="form-input text-white-dark" />
                  </div>
                </div>
                <button type="submit" class="btn btn-primary !mt-6">Next</button>
              </form>
            </div>
          </div>
          <div *ngIf="section.toLowerCase() === 'section2'">
            <h4 class="mb-4 text-2xl font-semibold">{{ 'select_columns' | translate }}</h4>
            <div class="mb-12">
              <form [formGroup]="fieldsForm" (ngSubmit)="getValidationData()">
                <table class="table" *ngIf="selectedTemplate">
                  <thead>
                    <tr>
                      <th width="30%">{{ 'form_fields' | translate }}</th>
                      <th width="30%">{{ 'file_columns' | translate }}</th>
                      <th>{{ 'field_info' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let filedData of selectedTemplate.importable_fields | orderBy : 'order_no'">
                      <td><label
                          [for]="filedData.field_table+'.'+filedData.field_name">{{filedData.display_name}}</label></td>
                      <td>
                        <select class="form-select text-white-dark" [id]="filedData.field_name"
                          [formControlName]="filedData.field_table+'-'+filedData.field_name">
                          <option value="">{{ 'select' | translate }}</option>
                          <option *ngFor="let fileHeader of fileHeaders" [value]="fileHeader">
                            {{'{ '+fileHeader+' }'}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <ul
                          class="flex space-x-3 rtl:space-x-reverse dark:text-[#d0d2d6] font-semibold list-inside list-disc">
                          <!-- <ul class="list-inside list-disc space-y-3 font-semibold"> -->
                          <li *ngIf="filedData.default_value" class="mb-1">deafult: {{filedData.default_value}}</li>
                          <li *ngIf="!filedData.is_nullable && !filedData.default_value" class="mb-1">required</li>
                          <li *ngIf="filedData.is_unique" class="mb-1">unique</li>
                        </ul>
                      </td>
                    </tr>

                    <ng-container *ngIf="fieldsForm.get('individual_fields') as individualFieldsGroup"
                      formGroupName="individual_fields">
                      <tr>
                        <td colspan="3" class="text-xl font-bold">{{ 'Individual Fields' | translate }}</td>
                      </tr>
                      <tr *ngFor="let controlName of individualFieldsControlNames">
                        <td>
                          <label [for]="controlName">
                            {{ individual_fields[controlName].display_name || controlName }}
                          </label>
                        </td>
                        <td>
                          <input [id]="controlName" type="text" [formControlName]="controlName"
                            class="form-input text-white-dark" />
                        </td>
                        <td>
                          <ul
                            class="flex space-x-3 rtl:space-x-reverse dark:text-[#d0d2d6] font-semibold list-inside list-disc">
                            <!-- <ul class="list-inside list-disc space-y-3 font-semibold"> -->
                            <li *ngIf="individual_fields[controlName]?.default_value" class="mb-1">deafult:
                              {{individual_fields[controlName].default_value}}</li>
                            <li
                              *ngIf="!individual_fields[controlName]?.is_nullable && !individual_fields[controlName]?.default_value"
                              class="mb-1">required</li>
                            <li *ngIf="individual_fields[controlName]?.is_unique" class="mb-1">unique</li>
                          </ul>
                        </td>
                      </tr>
                    </ng-container>

                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="3">
                        <div class="flex">
                          <button type="button" role="button" (click)="section = 'section1'"
                            class="btn btn-primary !mt-6 mr-3">Back</button>
                          <button type="submit" class="btn btn-primary !mt-6">Next</button>
                        </div>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </form>
            </div>
          </div>

          <div *ngIf="section.toLowerCase() === 'section3'">

            <!-- <div class="flex justify-between items-center mb-4" *ngIf="sheet_data && sheet_data.header_details">
              <h4 class="text-2xl font-semibold">{{ 'validated_records' | translate }}</h4>

              <div class="flex space-x-4">
                <div class="flex items-center space-x-2">
                  <div class="w-4 h-4 bg-red-200 rounded-full"></div>
                  <span class="text-sm text-gray-700">{{ 'error' | translate }}</span>
                </div>
                <div class="flex items-center space-x-2">
                  <div class="w-4 h-4 bg-orange-200 rounded-full"></div>
                  <span class="text-sm text-gray-700">{{ 'Warning' | translate }}</span>
                </div>
              </div>
            </div> -->

            <div class="p-4 bg-white rounded-lg shadow-md"
              *ngIf="sheet_data && sheet_data.ind_row_datas && getIndividualFieldKeys().length">
              <h2 class="text-lg font-semibold mb-4">Individual Fields Data</h2>

              <!-- Table layout for displaying fields -->
              <table class="w-full border border-gray-300">
                <thead>
                  <tr>
                    <th class="border px-4 py-2 text-left">Field</th>
                    <th class="border px-4 py-2 text-left">Value</th>
                    <th class="border px-4 py-2 text-left">Errors</th>
                    <th class="border px-4 py-2 text-left">Warnings</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let fieldKey of getIndividualFieldKeys()">
                    <td class="border px-4 py-2 font-medium text-gray-700">
                      {{ sheet_data.individual_header_details[fieldKey].display_name || fieldKey }}
                      <span class="text-danger"
                        *ngIf="!sheet_data.individual_header_details[fieldKey]?.is_nullable">*</span>
                    </td>
                    <td class="border px-4 py-2">
                      {{ sheet_data.ind_row_datas.columns[fieldKey] || 'N/A' }}
                    </td>
                    <td class="border px-4 py-2">
                      <ul *ngIf="sheet_data.ind_row_datas.errors[fieldKey]?.length || 0 > 0"
                        class="list-disc list-inside text-red-500">
                        <li *ngFor="let error of sheet_data.ind_row_datas.errors[fieldKey]">
                          {{ error.message }}
                        </li>
                      </ul>
                    </td>
                    <td class="border px-4 py-2">
                      <ul *ngIf="sheet_data.ind_row_datas.warnings[fieldKey]?.length || 0 > 0"
                        class="list-disc list-inside text-yellow-500">
                        <li *ngFor="let warning of sheet_data.ind_row_datas.warnings[fieldKey]">
                          {{ warning.message }}
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="mb-12" *ngIf="sheet_data && sheet_data.header_details">
              <!-- Counts Section -->
              <div
                class="flex flex-wrap justify-between items-center py-4 px-6 bg-gray-50 dark:bg-[#1b1f38] rounded-lg mb-5">
                <div class="flex items-center space-x-4">
                  <h2 class="text-lg font-semibold mb-4">{{ 'validated_records' | translate }}</h2>
                </div>
                <div class="flex items-center space-x-4">
                  <div class="flex items-center space-x-2">
                    <span class="w-4 h-4 rounded-full"></span>
                    <span class="text-sm font-bold text-gray-600">{{ 'Total Rows:' | translate }}</span>
                    <span class="text-sm font-bold text-gray-800 dark:text-white">{{ (sheet_data.row_datas
                      || []).length }}</span>
                  </div>
                  <div class="flex items-center space-x-2">
                    <span class="w-4 h-4 rounded-full bg-green-200"></span>
                    <span class="text-sm font-semibold text-green-600">{{ 'Valid Rows:' | translate }}</span>
                    <span class="text-sm font-bold text-gray-800 dark:text-white">{{ getRowCounts(sheet_data.row_datas
                      || []).validCount }}</span>
                  </div>
                  <div class="flex items-center space-x-2">
                    <span class="w-4 h-4 rounded-full bg-red-200"></span>
                    <span class="text-sm font-semibold text-red-600">{{ 'Errors Rows:' | translate }}</span>
                    <span class="text-sm font-bold text-gray-800 dark:text-white">{{ getRowCounts(sheet_data.row_datas
                      || []).errorCount }}</span>
                  </div>
                  <div class="flex items-center space-x-2">
                    <span class="w-4 h-4 rounded-full bg-yellow-200"></span>
                    <span class="text-sm font-semibold text-yellow-600">{{ 'Warnings Rows:' | translate }}</span>
                    <span class="text-sm font-bold text-gray-800 dark:text-white">{{ getRowCounts(sheet_data.row_datas
                      || []).warningCount }}</span>
                  </div>
                </div>
              </div>
              <!-- End Counts Section -->

              <div *ngIf="sheet_data?.error_msg" class="mb-4 p-4 bg-red-100 text-red-800 rounded-lg">
                {{ sheet_data.error_msg }}
              </div>

              <app-client-datatable [data]="getSheetDatas()" [config]="getSheetHeader()"></app-client-datatable>
              <div class="flex">
                <button type="button" (click)="section = 'section2'" class="btn btn-primary !mt-6 mr-3">Back</button>
                <button type="button" class="btn btn-primary !mt-6" (click)="importTemplateDetail()">Import</button>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>