::ng-deep {
  .bg-red-200 {
    background-color: #f8d7da;
  }
  .text-red-600 {
    color: #721c24;
  }
  .bg-orange-200 {
    background-color: #ffeeba;
  }
  .text-orange-600 {
    color: #856404;
  }
}
