::ng-deep {
  .bg-red-200 {
    background-color: #f8d7da;
  }
  .text-red-600 {
    color: #721c24;
  }
  .bg-orange-200 {
    background-color: #ffeeba;
  }
  .text-orange-600 {
    color: #856404;
  }

  .form-input.ng-invalid.ng-dirty,
  .ng-submitted .form-input.ng-invalid,
  .ng-submitted .form-input:invalid {
    --tw-border-opacity: 1;
    border-color: rgb(231 81 90 / var(--tw-border-opacity));
    background-color: rgb(231 81 90 / 0.08);
    --tw-text-opacity: 1;
    color: rgb(231 81 90 / var(--tw-text-opacity));
  }

  .form-select.ng-invalid.ng-dirty,
  .ng-submitted .form-select.ng-invalid,
  .ng-submitted .form-select:invalid {
    // border-color: #dc3545;
    --tw-text-opacity: 1;
    border-color: rgb(231 81 90 / var(--tw-text-opacity));
    background-color: #e7515a14;
    color: inherit;
  }

  // Loader styles start
  .loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(19 18 18 / 23%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 51;
  }

  .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  // Loader styles end
}
