<div [formGroup]="policyForm">
  <div class="panel">
    <div class="mb-5 flex flex-col items-start justify-between gap-3 lg:flex-row lg:items-center">
      <h5 class="text-lg font-semibold dark:text-white-light">
        {{ 'policy_add_edit_form' | translate }}
      </h5>
      <button appDynamicFontSize="body" type="button" class="btn btn-danger mr-5 ltr:rounded-r rtl:rounded-l" (click)="location.back()">
        {{ 'back' | translate }}
      </button>
    </div>
    <div class="w-full space-y-5 dark:text-white">
      <div class="rounded-md p-2 md:col-span-2 lg:col-span-3">
        <div class="space-y-5">
          <div>
            <div class="grid grid-cols-1 gap-6 lg:grid-cols-1">
              <div class="mb-5 grid grid-cols-1 gap-6 lg:grid-cols-3">
                <div class="flex flex-col">
                  <label for="policy_name" class="required-mark mb-2 block font-medium">{{ 'policy_name' | translate }}</label>
                  <input
                    autocomplete="off"
                    appDynamicFontSize="body"
                    formControlName="policy_name"
                    id="policy_name"
                    type="text"
                    maxlength="75"
                    class="form-input w-full py-1 text-xs text-gray-600 placeholder:text-white-dark"
                    [required]="true"
                  />
                  <div
                    *ngIf="policyForm.get('policy_name')?.invalid && (policyForm.get('policy_name')?.touched || policyForm.get('policy_name')?.dirty)"
                    class="invalid-feedback mt-1 text-danger"
                  >
                    {{ 'policy_name_is_required' | translate }}
                  </div>
                  <div *ngIf="policyForm.get('policy_name')?.errors?.['maxlength']" class="invalid-feedback mt-1 text-danger">
                    Policy name cannot exceed 75 characters.
                  </div>
                </div>
                <div class="flex flex-col">
                  <label for="policy_description" class="required-mark mb-2 block font-medium">{{ 'policy_description' | translate }}</label>
                  <input
                    autocomplete="off"
                    appDynamicFontSize="body"
                    formControlName="policy_description"
                    id="policy_description"
                    type="text"
                    class="form-input w-full py-1 text-xs text-gray-600 placeholder:text-white-dark"
                    [required]="true"
                  />
                  <div
                    *ngIf="
                      policyForm.get('policy_description')?.invalid &&
                      (policyForm.get('policy_description')?.touched || policyForm.get('policy_description')?.dirty)
                    "
                    class="invalid-feedback mt-1 text-danger"
                  >
                    {{ 'policy_description_is_required' | translate }}
                  </div>
                </div>
                <div class="flex flex-col">
                  <label class="required-mark mb-2 block font-medium">{{ 'form_label_status' | translate }}</label>
                  <div class="flex items-center space-x-4">
                    <label for="1" class="flex cursor-pointer items-center">
                      <input id="1" type="radio" [value]="1" formControlName="status_id" class="form-radio" appDynamicFontSize="body" />
                      <span class="ml-2 text-white-dark">{{ 'table_status_val_0' | translate }}</span>
                    </label>

                    <label for="2" class="flex cursor-pointer items-center">
                      <input id="2" type="radio" [value]="2" formControlName="status_id" class="form-radio" appDynamicFontSize="body" />
                      <span class="ml-2 text-white-dark">{{ 'table_status_val_1' | translate }}</span>
                    </label>
                  </div>
                  <div
                    *ngIf="policyForm.get('status_id')?.invalid && (policyForm.get('status_id')?.touched || policyForm.get('status_id')?.dirty)"
                    class="invalid-feedback mt-1 text-danger"
                  >
                    {{ 'status_is_required' | translate }}
                  </div>
                </div>
              </div>
            </div>
            <div class="grid grid-cols-1 gap-6 lg:grid-cols-1">
              <div class="mb-5 grid grid-cols-1 gap-6 lg:grid-cols-3">
                <div *ngIf="unique_id" class="flex flex-col">
                  <label for="slug">{{ 'slug' | translate }}</label>
                  <input
                    autocomplete="off"
                    appDynamicFontSize="body"
                    formControlName="slug"
                    id="slug"
                    type="text"
                    readonly
                    class="form-input w-full py-1 text-xs text-gray-600 placeholder:text-white-dark"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1">
      <div class="mb-5 p-2">
        <label class="mb-2 block font-medium">{{ 'form_label_query_information' | translate }}</label>
        <div class="monaco-editor-container" appDynamicFontSize="body">
          <ngx-monaco-editor
            monacoEditor
            [options]="editorOptions"
            id="query_information"
            formControlName="query_information"
            class="monaco-editor !h-96"
          ></ngx-monaco-editor>
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-end gap-4 py-4">
      <button
        class="hover:bg-primary-dark dark:bg-primary-dark dark:focus:ring-primary-dark flex w-40 flex-row items-center justify-center gap-8 rounded-md bg-primary px-6 py-2 text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 dark:text-white"
        type="button"
        [disabled]="policyForm.invalid ? true : false"
        (click)="upsertPolicy()"
      >
        Submit
      </button>
    </div>
  </div>
</div>

<app-loader *ngIf="loading"></app-loader>
