<div class="flex-1 p-3 pt-6">
  <app-datatable
    [loading]="gridloading"
    [masterInfo]="masterInfo"
    [enableCheckBox]="enableCheckBox"
    [customTemplates]="customTemplates"
    [headercolumns]="headercolumns"
    [selectcolumns]="selectcolumns"
    [items]="items"
    [totalItems]="totalItems"
    [currentPage]="currentPage"
    [resultsPerPage]="resultsPerPage"
    [column]="column"
    [title]="title"
    [query]="query"
    (delete)="deleteItem($event)"
    (edit)="editItem($event)"
    (view)="viewItem($event)"
    (customAction)="handleCustomAction($event)"
    (pageChange)="onPageChange($event)"
    (resultsPerPageChange)="onResultsPerPageChange($event)"
    (columnSort)="sortColumn($event)"
    (searchQuery)="searchData($event)"
    (exportType)="exportTable($event)"
    (advancedSearchQuery)="advancedSearchData($event)"
  ></app-datatable>
  <ng-template #actionTemplate let-item>
    <div class="flex items-center gap-4">
      <button ngxTippy data-tippy-content="Execute" appDynamicFontSize="body" type="button" (click)="this.executeChildProcess(item)">
        <i class="fa-solid fa-play text-success"></i>
      </button>
      <a
        href="javascript:void(0);"
        class="hover:text-primary"
        *ngIf="this.masterInfo.permissions.details"
        ngxTippy
        (click)="this.viewItem(item)"
        data-tippy-content="Details"
        appDynamicFontSize="body"
      >
        <i class="fa-regular fa-eye {{ store.fontsize === 'large' ? 'h-5.5 w-5.5' : store.fontsize === 'medium' ? 'h-4.5 w-4.5' : 'h-3.5 w-3.5' }}"></i>
      </a>
      <a
        href="javascript:void(0);"
        class="hover:text-info"
        appDynamicFontSize="body"
        *ngIf="
          this.masterInfo.permissions.edit &&
          (this.masterInfo?.Listname == 'mrn_grid'
            ? item?.mrn_status != 'completed'
            : true && this.masterInfo?.Listname == 'min_grid'
            ? item?.min_status != 'completed'
            : true)
        "
        (click)="this.editItem(item)"
        ngxTippy
        data-tippy-content="Edit"
      >
        <i
          class="fa-regular fa-pen-to-square {{ store.fontsize === 'large' ? 'h-5.5 w-5.5' : store.fontsize === 'medium' ? 'h-4.5 w-4.5' : 'h-3.5 w-3.5' }}"
        ></i>
      </a>

      <a
        href="javascript:void(0);"
        class="hover:text-primary"
        appDynamicFontSize="body"
        *ngIf="this.masterInfo.permissions.delete"
        (click)="this.deleteItem(item)"
        ngxTippy
        data-tippy-content="Delete"
      >
        <i class="fa-regular fa-trash-can {{ store.fontsize === 'large' ? 'h-5.5 w-5.5' : store.fontsize === 'medium' ? 'h-4.5 w-4.5' : 'h-3.5 w-3.5' }}"></i>
      </a>
    </div>
  </ng-template>

  <ng-template #statusTemplate let-item>
    <span
      class="badge"
      [ngClass]="[store.fontsize === 'large' ? 'text-base' : store.fontsize === 'medium' ? 'text-sm' : 'text-xs', statuses[item.status]?.border_color]"
    >
      {{ statuses[item.status].value | translate }}
    </span>
  </ng-template>
</div>

<app-loader *ngIf="loading"></app-loader>
