<div [formGroup]="form">
  <div class="panel">
    <div class="flex flex-wrap justify-between">
      <div class="text-md font-bold uppercase">{{ editTitle ? 'title_edit_entity' : ('title_add_entity' | translate) }}</div>
      <div class="relative inline-flex align-middle">
        <button appDynamicFontSize="body" type="button" class="btn btn-danger mr-5 ltr:rounded-r rtl:rounded-l" (click)="location.back()">
          {{ 'back' | translate }}
        </button>
        <button
          appDynamicFontSize="body"
          type="button"
          [disabled]="isFormInvalid()"
          class="btn btn-outline-secondary ltr:rounded-r rtl:rounded-l"
          (click)="onSubmit()"
        >
          {{ 'submit' | translate }}
        </button>
      </div>
    </div>
    <hr class="my-3 border-[#e0e6ed] dark:border-[#1b2e4b]" />
    <div class="mt-2">
      <div class="flex flex-col justify-between">
        <div
          class="grid grid-cols-1 gap-2"
          [ngClass]="{
            'md:grid-cols-4': [commonConfig.ENTITY_TYPES.GRID_BUILDER_MODULE, commonConfig.ENTITY_TYPES.DASHBOARD_WIZARD_BUILDER_MODULE].includes(
              form.get('entityType')?.value
            ),
            'md:grid-cols-3': ![commonConfig.ENTITY_TYPES.GRID_BUILDER_MODULE, commonConfig.ENTITY_TYPES.DASHBOARD_WIZARD_BUILDER_MODULE].includes(
              form.get('entityType')?.value
            )
          }"
        >
          <div class="mt-0">
            <label for="name" class="required-mark mb-2 block font-medium">{{ 'form_label_name' | translate }}</label>
            <input
              id="name"
              type="text"
              formControlName="name"
              appDynamicFontSize="body"
              class="form-input w-full"
              placeholder="{{ 'form_label_name_placeholder' | translate }}"
              [ngClass]="{ 'is-invalid': isFieldInvalid('name') }"
            />
            <div *ngIf="isFieldInvalid('name')" class="invalid-feedback mt-1 text-danger">
              {{ getErrorMessage('name') }}
            </div>
          </div>
          <div class="mt-0">
            <label for="entityType" class="required-mark mb-2 block font-medium">{{ 'form_label_entity_type' | translate }}</label>
            <select
              id="entityType"
              formControlName="entityType"
              class="form-select w-full"
              [ngClass]="{ 'is-invalid': isFieldInvalid('entityType') }"
              appDynamicFontSize="body"
            >
              <option value>{{ 'form_label_entity_type_dropdown' | translate }}</option>
              <ng-container *ngFor="let item of entity_types">
                <option [value]="item.value">{{ item.label }}</option>
              </ng-container>
            </select>
            <div *ngIf="isFieldInvalid('entityType')" class="invalid-feedback mt-1 text-danger">
              {{ getErrorMessage('entityType') }}
            </div>
          </div>

          <div class="mt-0">
            <label for="permissions" class="required-mark mb-2 block font-medium">{{ 'form_label_permissions' | translate }}</label>
            <ng-select
              [multiple]="true"
              id="permissions"
              formControlName="permissions"
              appDynamicFontSize="body"
              class="custom-multiselect"
              [clearable]="false"
              placeholder="Select an option"
              [ngClass]="{ 'is-invalid': isFieldInvalid('permissions') }"
            >
              @for (item of action_types; track item.id) {
              <ng-option [value]="item.value">{{ item.label | translate }}</ng-option>
              }
            </ng-select>
            <div *ngIf="isFieldInvalid('permissions')" class="invalid-feedback mt-1 text-danger">
              {{ getErrorMessage('permissions') }}
            </div>
          </div>

          <ng-container *ngIf="form.get('entityType')?.value === commonConfig.ENTITY_TYPES.EXPORT_MODULE">
            <div class="mt-0">
              <label for="export_templates" class="required-mark mb-2 block font-medium"> {{ 'form_label_export_templates' | translate }}</label>
              <div class="mt-1.5 flex items-center space-x-2">
                <!-- Wizard Group Select -->
                <ng-select
                  id="export_templates"
                  formControlName="export_template_id"
                  appDynamicFontSize="body"
                  class="custom-multiselect min-w-[200px] flex-grow"
                  [clearable]="false"
                  placeholder="{{ 'select_export_templates' | translate }}"
                  [ngClass]="{ 'is-invalid': isFieldInvalid('export_templates') }"
                >
                  <ng-option value>
                    {{ 'form_label_export_templates_dropdown' | translate }}
                  </ng-option>
                  @for (group of exportTemplates; track group.id) {
                  <ng-option [value]="group.id">{{ group.name }}</ng-option>
                  }
                </ng-select>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="form.get('entityType')?.value === commonConfig.ENTITY_TYPES.GRID_BUILDER_MODULE">
            <div class="mt-0">
              <label for="primaryTable" class="required-mark mb-2 block font-medium">{{ 'form_label_primary_table' | translate }}</label>
              <select
                id="primaryTable"
                formControlName="primaryTable"
                class="form-select w-full"
                [ngClass]="{ 'is-invalid': isFieldInvalid('primaryTable') }"
                appDynamicFontSize="body"
              >
                <option value>{{ 'form_label_primary_table_dropdown' | translate }}</option>
                <ng-container *ngFor="let item of tables_list">
                  <option [value]="item">{{ item }}</option>
                </ng-container>
              </select>

              <div *ngIf="isFieldInvalid('primaryTable')" class="invalid-feedback mt-1 text-danger">
                {{ getErrorMessage('primaryTable') }}
              </div>
            </div>
          </ng-container>

          <div class="mt-0">
            <label for="statusId" class="required-mark mb-2 block font-medium">{{ 'form_label_status' | translate }}</label>
            <div class="flex items-center space-x-4">
              <label class="flex cursor-pointer items-center">
                <input type="radio" [value]="1" formControlName="statusId" class="form-radio" appDynamicFontSize="body" />
                <span class="ml-2 text-white-dark">{{ 'table_status_val_0' | translate }}</span>
              </label>

              <label class="flex cursor-pointer items-center">
                <input type="radio" [value]="2" formControlName="statusId" class="form-radio" appDynamicFontSize="body" />
                <span class="ml-2 text-white-dark">{{ 'table_status_val_1' | translate }}</span>
              </label>
            </div>

            <div *ngIf="isFieldInvalid('statusId')" class="invalid-feedback mt-1 text-danger">
              {{ getErrorMessage('statusId') }}
            </div>
          </div>

          <div class="mt-0">
            <label for="isAdminModule" class="required-mark mb-2 block font-medium">{{ 'form_label_is_admin_module' | translate }}</label>
            <div class="flex items-center space-x-4">
              <label class="flex cursor-pointer items-center">
                <input type="radio" [value]="true" formControlName="isAdminModule" class="form-radio" appDynamicFontSize="body" />
                <span class="ml-2 text-white-dark">{{ 'yes' | translate }}</span>
              </label>

              <label class="flex cursor-pointer items-center">
                <input type="radio" [value]="false" formControlName="isAdminModule" class="form-radio" appDynamicFontSize="body" />
                <span class="ml-2 text-white-dark">{{ 'no' | translate }}</span>
              </label>
            </div>

            <div *ngIf="isFieldInvalid('isAdminModule')" class="invalid-feedback mt-1 text-danger">
              {{ getErrorMessage('isAdminModule') }}
            </div>
          </div>
          <ng-container *ngIf="form.get('entityType')?.value === commonConfig.ENTITY_TYPES.FORM_BUILDER_MODULE">
            <div class="mt-0">
              <label for="draftMode" class="required-mark mb-2 block font-medium">{{ 'form_label_draft_mode' | translate }}</label>
              <div class="flex items-center space-x-4">
                <label class="flex cursor-pointer items-center">
                  <input type="radio" [value]="true" formControlName="draftMode" class="form-radio" appDynamicFontSize="body" />
                  <span class="ml-2 text-white-dark">{{ 'yes' | translate }}</span>
                </label>

                <label class="flex cursor-pointer items-center">
                  <input type="radio" [value]="false" formControlName="draftMode" class="form-radio" appDynamicFontSize="body" />
                  <span class="ml-2 text-white-dark">{{ 'no' | translate }}</span>
                </label>
              </div>

              <div *ngIf="isFieldInvalid('draftMode')" class="invalid-feedback mt-1 text-danger">
                {{ getErrorMessage('draftMode') }}
              </div>
            </div>
          </ng-container>

          <!--<ng-container *ngIf="form.get('entityType')?.value === commonConfig.ENTITY_TYPES.GRID_BUILDER_MODULE">
            <div class="mt-0">
              <label for="associateTable" class="mb-2 block font-medium">{{ 'form_label_associateTable' | translate }}</label>
              <ng-select
                [multiple]="true"
                id="associateTable"
                formControlName="associateTable"
                appDynamicFontSize="body"
                class="custom-multiselect"
                [clearable]="false"
                placeholder="Select an option"
                [ngClass]="{ 'is-invalid': isFieldInvalid('associateTable') }"
              >
                @for (item of tables_list; track item) {
                <ng-option [value]="item">{{ item | translate }}</ng-option>
                }
              </ng-select>
              <div *ngIf="isFieldInvalid('associateTable')" class="invalid-feedback mt-1 text-danger">
                {{ getErrorMessage('associateTable') }}
              </div>
            </div>
          </ng-container>-->

          <ng-container *ngIf="form.get('entityType')?.value === commonConfig.ENTITY_TYPES.DASHBOARD_WIZARD_BUILDER_MODULE">
            <div class="mt-0">
              <label for="" class="required-mark mb-2 block font-medium">{{ 'form_label_report_type' | translate }}</label>
              <select
                id="reportType"
                formControlName="reportType"
                class="form-select w-full"
                [ngClass]="{ 'is-invalid': isFieldInvalid('reportType') }"
                appDynamicFontSize="body"
              >
                <!-- <option value>{{ 'form_label_report_type_dropdown' | translate }}</option> -->
                <ng-container *ngFor="let item of report_type_list">
                  <option [value]="item.value">{{ item.label | translate }}</option>
                </ng-container>
              </select>

              <div *ngIf="isFieldInvalid('reportType')" class="invalid-feedback mt-1 text-danger">
                {{ getErrorMessage('reportType') }}
              </div>
            </div>

            <div class="mt-0" *ngIf="form.get('reportType')?.value === commonConfig.REPORT_TYPES.LCP">
              <label for="wizardType" class="required-mark mb-2 block font-medium">{{ 'form_label_wizard_type' | translate }}</label>
              <select
                id="wizardType"
                formControlName="wizardType"
                class="form-select w-full"
                [ngClass]="{ 'is-invalid': isFieldInvalid('wizardType') }"
                appDynamicFontSize="body"
              >
                <option value>{{ 'form_label_wizard_type_dropdown' | translate }}</option>
                <ng-container *ngFor="let item of wizard_type_list">
                  <option [value]="item.value">{{ item.label | translate }}</option>
                </ng-container>
              </select>

              <div *ngIf="isFieldInvalid('wizardType')" class="invalid-feedback mt-1 text-danger">
                {{ getErrorMessage('wizardType') }}
              </div>
            </div>

            <div class="mt-0">
              <label for="wizardGroup" class="required-mark mb-2 block font-medium"> {{ 'form_label_wizard_group' | translate }}</label>
              <div class="mt-1.5 flex items-center space-x-2">
                <!-- Wizard Group Select -->
                <ng-select
                  id="wizardGroup"
                  formControlName="wizardGroup"
                  appDynamicFontSize="body"
                  class="custom-multiselect min-w-[90px] flex-grow"
                  [clearable]="false"
                  placeholder="{{ 'select_wizard_group' | translate }}"
                  [ngClass]="{ 'is-invalid': isFieldInvalid('wizardGroup') }"
                >
                  <ng-option value>
                    {{ 'form_label_wizard_group_dropdown' | translate }}
                  </ng-option>
                  @for (group of wizardGroups; track group.id) {
                  <ng-option [value]="group.id">{{ group.name }}</ng-option>
                  }
                </ng-select>
                <button
                  aria-expanded="true"
                  aria-haspopup="true"
                  (click)="showAddNewWizardGroup()"
                  type="button"
                  class="btn-primary flex items-center rounded-md border border-[#e0e6ed] px-4 py-2 font-semibold dark:border-[#253b5c] dark:bg-[#1b2e4b] dark:text-white-dark"
                  appDynamicFontSize="body"
                >
                  <i class="fas fa-plus fa-xl"></i>&nbsp;
                </button>

                <div *ngIf="isFieldInvalid('wizardGroup')" class="invalid-feedback mt-1 text-danger">
                  {{ getErrorMessage('wizardGroup') }}
                </div>

                <div
                  *ngIf="showWizardGroupMenu"
                  aria-labelledby="options-menu"
                  aria-orientation="vertical"
                  class="advancedfiltercontainer absolute z-10 mt-2 origin-top-left divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5"
                  role="menu"
                >
                  <form [formGroup]="wizardGroupForm" (ngSubmit)="addNewWizardGroup()">
                    <!-- Header -->
                    <div class="flex items-center justify-between border-b border-gray-200 p-4">
                      <span>{{ 'add_new_wizard_group' | translate }}</span>

                      <div class="flex items-center gap-4">
                        <button type="button" class="close" (click)="cancelAddWizardGroup()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>

                    <!-- Body -->
                    <!-- Body -->
                    <ng-scrollbar class="relative !h-[calc(40vh-40px)]" appearance="compact">
                      <div class="space-y-2 p-4">
                        <div class="form-group">
                          <label for="newWizardGroupName">{{ 'wizard_group_name' | translate }}</label>
                          <input
                            type="text"
                            class="form-input"
                            id="newWizardGroupName"
                            formControlName="name"
                            [ngClass]="{ 'is-invalid': isWizardGroupFieldInvalid('name') }"
                          />
                          <div *ngIf="isWizardGroupFieldInvalid('name')" class="invalid-feedback">
                            {{ getWizardGroupErrorMessage('name') }}
                          </div>
                        </div>
                      </div>
                    </ng-scrollbar>

                    <!-- Footer -->
                    <div class="flex items-center justify-between border-t border-gray-200 p-4">
                      <button
                        type="button"
                        class="btn btn-secondary mr-3 ltr:rounded-r rtl:rounded-l"
                        appDynamicFontSize="body"
                        (click)="cancelAddWizardGroup()"
                      >
                        {{ 'cancel' | translate }}
                      </button>
                      <button type="submit" class="btn btn-primary" appDynamicFontSize="body" [disabled]="wizardGroupForm.invalid">
                        {{ 'submit' | translate }}
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="mt-0">
              <label for="dashboard_wizard_rows" class="required-mark mb-2 block font-medium">{{ 'form_label_dashboard_wizard_rows' | translate }}</label>
              <input
                id="dashboard_wizard_rows"
                type="number"
                formControlName="dashboard_wizard_rows"
                appDynamicFontSize="body"
                class="form-input w-full"
                placeholder="{{ 'form_label_dashboard_wizard_rows_placeholder' | translate }}"
                [ngClass]="{ 'is-invalid': isFieldInvalid('dashboard_wizard_rows') }"
              />
              <div *ngIf="isFieldInvalid('dashboard_wizard_rows')" class="invalid-feedback mt-1 text-danger">
                {{ getErrorMessage('dashboard_wizard_rows') }}
              </div>
            </div>

            <div class="mt-0">
              <label for="dashboard_wizard_columns" class="required-mark mb-2 block font-medium">{{ 'form_label_dashboard_wizard_columns' | translate }}</label>
              <input
                id="dashboard_wizard_columns"
                type="number"
                formControlName="dashboard_wizard_columns"
                appDynamicFontSize="body"
                class="form-input w-full"
                placeholder="{{ 'form_label_dashboard_wizard_columns_placeholder' | translate }}"
                [ngClass]="{ 'is-invalid': isFieldInvalid('dashboard_wizard_columns') }"
              />
              <div *ngIf="isFieldInvalid('dashboard_wizard_columns')" class="invalid-feedback mt-1 text-danger">
                {{ getErrorMessage('dashboard_wizard_columns') }}
              </div>
            </div>

            <div class="mt-0">
              <label for="dashboard_wizard_order_no" class="required-mark mb-2 block font-medium">{{
                'form_label_dashboard_wizard_order_no' | translate
              }}</label>
              <input
                id="dashboard_wizard_order_no"
                type="number"
                formControlName="dashboard_wizard_order_no"
                appDynamicFontSize="body"
                step="0.01"
                min="0.01"
                class="form-input w-full"
                placeholder="{{ 'form_label_dashboard_wizard_order_no_placeholder' | translate }}"
                [ngClass]="{ 'is-invalid': isFieldInvalid('dashboard_wizard_order_no') }"
              />
              <div *ngIf="isFieldInvalid('dashboard_wizard_order_no')" class="invalid-feedback mt-1 text-danger">
                {{ getErrorMessage('dashboard_wizard_order_no') }}
              </div>
            </div>
          </ng-container>
        </div>

        <ng-container
          *ngIf="
            commonConfig.ENTITY_TYPES.STATIC_PAGE_BUILDER_MODULE === form.get('entityType')?.value ||
            (commonConfig.ENTITY_TYPES.DASHBOARD_WIZARD_BUILDER_MODULE === form.get('entityType')?.value &&
              form.get('reportType')?.value === commonConfig.REPORT_TYPES.LCP)
          "
        >
          <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
            <div class="mt-3">
              <div class="flex flex-row gap-3">
                <label for="queryInformation" class="mb-2 block font-medium">{{ 'form_label_query_information' | translate }}</label>
                <i (click)="openInfoPopUp('queryInfo')" class="fas fa-circle-info fa-lg cursor-pointer !leading-none"></i>
              </div>
              <div class="monaco-editor-container" appDynamicFontSize="body">
                <ngx-monaco-editor
                  monacoEditor
                  [options]="editorOptions"
                  id="queryInformation"
                  formControlName="queryInformation"
                  class="monaco-editor"
                ></ngx-monaco-editor>
              </div>
              <div *ngIf="isFieldInvalid('queryInformation')" class="invalid-feedback mt-1 text-danger">
                {{ getErrorMessage('queryInformation') }}
              </div>
            </div>

            <div class="mt-3" *ngIf="[commonConfig.WIZARD_TYPES.CHART].includes(form.get('wizardType')?.value)">
              <label for="dashboard_wizard_options" class="mb-2 block font-medium">{{ 'form_label_dashboard_wizard_content_json' | translate }}</label>
              <div class="monaco-editor-container" appDynamicFontSize="body">
                <ngx-monaco-editor
                  monacoEditor
                  [options]="editorOptions"
                  id="dashboard_wizard_options"
                  formControlName="dashboard_wizard_options"
                  class="monaco-editor"
                ></ngx-monaco-editor>
              </div>
              <div *ngIf="isFieldInvalid('dashboard_wizard_options')" class="invalid-feedback mt-1 text-danger">
                {{ getErrorMessage('dashboard_wizard_options') }}
              </div>
            </div>

            <div
              class="mt-3"
              *ngIf="
                [commonConfig.ENTITY_TYPES.STATIC_PAGE_BUILDER_MODULE].includes(form.get('entityType')?.value) ||
                [commonConfig.WIZARD_TYPES.STATIC].includes(form.get('wizardType')?.value)
              "
            >
              <label for="staticPageContent" class="mb-2 block font-medium">
                {{
                  form.get('entityType')?.value === commonConfig.ENTITY_TYPES.DASHBOARD_WIZARD_BUILDER_MODULE
                    ? ('form_label_dashboard_wizard_content_html' | translate)
                    : ('form_label_static_page_Content' | translate)
                }}
              </label>

              <div class="monaco-editor-container" appDynamicFontSize="body">
                <ngx-monaco-editor
                  monacoEditor
                  [options]="htmlEditorOptions"
                  id="staticPageContent"
                  formControlName="staticPageContent"
                  class="monaco-editor"
                ></ngx-monaco-editor>
              </div>
              <div *ngIf="isFieldInvalid('staticPageContent')" class="invalid-feedback mt-1 text-danger">
                {{ getErrorMessage('staticPageContent') }}
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container
          *ngIf="
            commonConfig.ENTITY_TYPES.DASHBOARD_WIZARD_BUILDER_MODULE === form.get('entityType')?.value &&
            form.get('reportType')?.value === commonConfig.REPORT_TYPES.POWERBI
          "
        >
          <div class="grid grid-cols-1 gap-2 md:grid-cols-1">
            <div class="mt-3">
              <div class="flex flex-row gap-3">
                <label for="reportInformation" class="mb-2 block font-medium">{{ 'form_label_report_information' | translate }}</label>
                <i (click)="openInfoPopUp('reportInfo')" class="fas fa-circle-info fa-lg cursor-pointer !leading-none"></i>
              </div>
              <div class="monaco-editor-container" appDynamicFontSize="body">
                <ngx-monaco-editor
                  monacoEditor
                  [options]="editorOptions"
                  id="reportInformation"
                  formControlName="reportInformation"
                  class="monaco-editor"
                ></ngx-monaco-editor>
              </div>
              <div *ngIf="isFieldInvalid('reportInformation')" class="invalid-feedback mt-1 text-danger">
                {{ getErrorMessage('reportInformation') }}
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container
          *ngIf="[commonConfig.ENTITY_TYPES.GRID_BUILDER_MODULE, commonConfig.ENTITY_TYPES.JOB_BUILDER_MODULE].includes(form.get('entityType')?.value)"
        >
          <div
            class="grid grid-cols-1 gap-2"
            [ngClass]="{ 'md:grid-cols-2': ![commonConfig.ENTITY_TYPES.JOB_BUILDER_MODULE].includes(form.get('entityType')?.value) }"
          >
            <div class="mt-3">
              <div class="flex flex-row gap-3">
                <label for="queryInformation" class="mb-2 block font-medium">{{ 'form_label_query_information' | translate }}</label>
                <i (click)="openInfoPopUp('jobBuilderQueryInfo')" class="fas fa-circle-info fa-lg cursor-pointer !leading-none"></i>
              </div>
              <div class="monaco-editor-container" appDynamicFontSize="body">
                <ngx-monaco-editor
                  monacoEditor
                  [options]="editorOptions"
                  id="queryInformation"
                  formControlName="queryInformation"
                  class="monaco-editor"
                ></ngx-monaco-editor>
              </div>
              <div *ngIf="isFieldInvalid('queryInformation')" class="invalid-feedback mt-1 text-danger">
                {{ getErrorMessage('queryInformation') }}
              </div>
            </div>

            <ng-container *ngIf="[commonConfig.ENTITY_TYPES.GRID_BUILDER_MODULE].includes(form.get('entityType')?.value)">
              <div class="mt-3">
                <div class="flex flex-row gap-3">
                  <label for="associateTable" class="mb-2 block font-medium">{{ 'form_label_associated_tables' | translate }}</label>
                  <i (click)="openInfoPopUp('associatedTableInfo')" class="fas fa-circle-info fa-lg cursor-pointer !leading-none"></i>
                </div>
                <div class="monaco-editor-container" appDynamicFontSize="body">
                  <ngx-monaco-editor
                    monacoEditor
                    [options]="editorOptions"
                    id="associateTable"
                    formControlName="associateTable"
                    class="monaco-editor"
                  ></ngx-monaco-editor>
                </div>
                <div *ngIf="isFieldInvalid('associateTable')" class="invalid-feedback mt-1 text-danger">
                  {{ getErrorMessage('associateTable') }}
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>

        <ng-container *ngIf="form.get('entityType')?.value === commonConfig.ENTITY_TYPES.FORM_BUILDER_MODULE">
          <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
            <div class="mt-5">
              <div class="flex flex-row gap-3">
                <label for="formInformation" class="mb-2 block font-medium">Form Information</label>
                <i (click)="openInfoPopUp('formInfo')" class="fas fa-circle-info fa-lg cursor-pointer !leading-none"></i>
              </div>
              <div class="monaco-editor-container" appDynamicFontSize="body">
                <ngx-monaco-editor [options]="editorOptions" id="formInformation" formControlName="formInformation" class="monaco-editor"></ngx-monaco-editor>
              </div>
              <div *ngIf="isFieldInvalid('formInformation')" class="invalid-feedback mt-1 text-danger">
                {{ getErrorMessage('formInformation') }}
              </div>
            </div>

            <div class="mt-5">
              <div class="flex flex-row gap-3">
                <label for="queryInformation" class="mb-2 block font-medium">
                  {{ 'form_label_query_information' | translate }}
                  <i
                    class="fas"
                    [ngClass]="isDarkTheme ? 'fa-solid fa-sun' : 'fa-solid fa-moon'"
                    aria-hidden="true"
                    (click)="toggleTheme()"
                    class="ml-2 cursor-pointer"
                  ></i>
                </label>
                <i (click)="openInfoPopUp('formQueryInfo')" class="fas fa-circle-info fa-lg cursor-pointer !leading-none"></i>
              </div>

              <div class="monaco-editor-container" appDynamicFontSize="body">
                <ngx-monaco-editor [options]="editorOptions" id="queryInformation" formControlName="queryInformation" class="monaco-editor"></ngx-monaco-editor>
              </div>
              <div *ngIf="isFieldInvalid('queryInformation')" class="invalid-feedback mt-1 text-danger">
                {{ getErrorMessage('queryInformation') }}
              </div>
            </div>

            <div class="mt-5">
              <div class="flex flex-row gap-3">
                <label for="addQueryInformation" class="mb-2 block font-medium">Add JSON Structure</label>
                <i (click)="openInfoPopUp('addQueryInfo')" class="fas fa-circle-info fa-lg cursor-pointer !leading-none"></i>
              </div>

              <div class="monaco-editor-container" appDynamicFontSize="body">
                <ngx-monaco-editor
                  [options]="editorOptions"
                  id="addQueryInformation"
                  formControlName="addQueryInformation"
                  class="monaco-editor"
                ></ngx-monaco-editor>
              </div>
              <div *ngIf="isFieldInvalid('addQueryInformation')" class="invalid-feedback mt-1 text-danger">
                {{ getErrorMessage('addQueryInformation') }}
              </div>
            </div>

            <div class="mt-5">
              <div class="flex flex-row gap-3">
                <label for="editQueryInformation" class="mb-2 block font-medium">Edit JSON Structure</label>
                <i (click)="openInfoPopUp('editQueryInfo')" class="fas fa-circle-info fa-lg cursor-pointer !leading-none"></i>
              </div>
              <div class="monaco-editor-container" appDynamicFontSize="body">
                <ngx-monaco-editor
                  [options]="editorOptions"
                  id="editQueryInformation"
                  formControlName="editQueryInformation"
                  class="monaco-editor"
                ></ngx-monaco-editor>
              </div>
              <div *ngIf="isFieldInvalid('editQueryInformation')" class="invalid-feedback mt-1 text-danger">
                {{ getErrorMessage('editQueryInformation') }}
              </div>
            </div>

            <div class="mt-5">
              <div class="flex flex-row gap-3">
                <label for="presetQueryInformation" class="mb-2 block font-medium">Preset JSON Structure</label>
                <i (click)="openInfoPopUp('presetQueryInfo')" class="fas fa-circle-info fa-lg cursor-pointer !leading-none"></i>
              </div>
              <div class="monaco-editor-container" appDynamicFontSize="body">
                <ngx-monaco-editor
                  [options]="editorOptions"
                  id="presetQueryInformation"
                  formControlName="presetQueryInformation"
                  class="monaco-editor"
                ></ngx-monaco-editor>
              </div>
              <div *ngIf="isFieldInvalid('presetQueryInformation')" class="invalid-feedback mt-1 text-danger">
                {{ getErrorMessage('presetQueryInformation') }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <ng-container *ngIf="form.get('entityType')?.value === commonConfig.ENTITY_TYPES.GRID_BUILDER_MODULE">
      <div class="mt-5 flex flex-wrap justify-between">
        <div class="text-md required-mark font-bold">{{ 'title_entity_line_items' | translate }}</div>
        <div class="relative inline-flex align-middle">
          <button (click)="addItem()" type="button" class="btn btn-outline-secondary ltr:rounded-r rtl:rounded-l">
            <i class="fa-solid fa-plus"></i>&nbsp;
          </button>
        </div>
      </div>
      <hr class="my-3 border-[#e0e6ed] dark:border-[#1b2e4b]" />
      <div class="mt-2">
        <div class="table-responsive">
          <table>
            <thead>
              <tr>
                <th class="required-mark w-2/12">{{ 'table_field_name' | translate }}</th>
                <th class="required-mark w-2/12">{{ 'table_display_name' | translate }}</th>
                <th class="required-mark w-1/16">{{ 'table_order_no' | translate }}</th>
                <th class="w-1/16">{{ 'table_is_grid_column' | translate }}</th>
                <th class="w-1/16">{{ 'table_is_searchable' | translate }}</th>
                <th class="w-1/12">{{ 'table_is_clause_type' | translate }}</th>
                <th class="w-1/16">{{ 'table_is_sortable' | translate }}</th>
                <th class="w-1/12">{{ 'table_field_type' | translate }}</th>
                <th class="w-2/12">{{ 'link_type' | translate }}</th>
                <th class="w-3/12">{{ 'link_action' | translate }}</th>
                <th class="w-1/12">{{ 'table_action' | translate }}</th>
              </tr>
            </thead>
            <tbody formArrayName="items">
              <ng-container *ngIf="itemsControls.length <= 0">
                <tr>
                  <td colspan="11" class="!text-center font-semibold">{{ 'no_records_found' | translate }}</td>
                </tr>
              </ng-container>
              <ng-container *ngFor="let item of itemsControls; index as i" [formGroupName]="i">
                <tr class="align-top">
                  <td class="w-2/12">
                    <div class="mb-2">
                      <input
                        [id]="'fieldName' + i"
                        type="text"
                        formControlName="fieldName"
                        appDynamicFontSize="body"
                        placeholder="{{ 'table_field_name_placeholder' | translate }}"
                        class="form-input w-full"
                        [ngClass]="{ 'is-invalid': isItemFieldInvalid(i, 'fieldName') }"
                      />
                      <div *ngIf="isItemFieldInvalid(i, 'fieldName')" class="invalid-feedback text-danger">
                        {{ getItemErrorMessage(i, 'fieldName') }}
                      </div>
                    </div>
                  </td>
                  <td class="w-2/16">
                    <div class="mb-2">
                      <input
                        [id]="'displayName' + i"
                        type="text"
                        formControlName="displayName"
                        appDynamicFontSize="body"
                        placeholder="{{ 'table_display_name_placeholder' | translate }}"
                        class="form-input w-full"
                        (keydown)="localStorageService.handleKeyPress($event, { type: commonConfig.keypress_config.allow_only_lowercase_alphanumeric })"
                        [ngClass]="{ 'is-invalid': isItemFieldInvalid(i, 'displayName') }"
                      />
                      <div *ngIf="isItemFieldInvalid(i, 'displayName')" class="invalid-feedback text-danger">
                        {{ getItemErrorMessage(i, 'displayName') }}
                      </div>
                    </div>
                  </td>
                  <td class="w-1/12">
                    <div class="mb-2">
                      <input
                        [id]="'orderNo' + i"
                        type="number"
                        formControlName="orderNo"
                        appDynamicFontSize="body"
                        placeholder="{{ 'table_order_no_placeholder' | translate }}"
                        class="form-input w-full"
                        [ngClass]="{ 'is-invalid': isItemFieldInvalid(i, 'orderNo') }"
                      />
                      <div *ngIf="isItemFieldInvalid(i, 'orderNo')" class="invalid-feedback text-danger">
                        {{ getItemErrorMessage(i, 'orderNo') }}
                      </div>
                    </div>
                  </td>
                  <td class="w-1/12">
                    <div class="mb-2">
                      <select
                        [id]="'isGridColumn' + i"
                        formControlName="isGridColumn"
                        appDynamicFontSize="body"
                        class="form-select w-full"
                        [ngClass]="{ 'is-invalid': isItemFieldInvalid(i, 'isGridColumn') }"
                      >
                        <option value selected disabled>{{ 'select_any' | translate }}</option>
                        <option value="true">{{ 'yes' | translate }}</option>
                        <option value="false">{{ 'no' | translate }}</option>
                      </select>
                      <div *ngIf="isItemFieldInvalid(i, 'isGridColumn')" class="invalid-feedback text-danger">
                        {{ getItemErrorMessage(i, 'isGridColumn') }}
                      </div>
                    </div>
                  </td>
                  <td class="w-1/16">
                    <div class="mb-2">
                      <select
                        [id]="'isSearchable' + i"
                        formControlName="isSearchable"
                        appDynamicFontSize="body"
                        class="form-select w-full"
                        [ngClass]="{ 'is-invalid': isItemFieldInvalid(i, 'isSearchable') }"
                      >
                        <option value selected disabled>{{ 'select_any' | translate }}</option>
                        <option value="true">{{ 'yes' | translate }}</option>
                        <option value="false">{{ 'no' | translate }}</option>
                      </select>
                      <div *ngIf="isItemFieldInvalid(i, 'isSearchable')" class="invalid-feedback text-danger">
                        {{ getItemErrorMessage(i, 'isSearchable') }}
                      </div>
                    </div>
                  </td>
                  <td class="w-1/12">
                    <div class="mb-2">
                      <select
                        [id]="'clauseType' + i"
                        formControlName="clauseType"
                        appDynamicFontSize="body"
                        class="form-select w-full"
                        [ngClass]="{ 'is-invalid': isItemFieldInvalid(i, 'clauseType') }"
                      >
                        <option value selected disabled>{{ 'select_any' | translate }}</option>
                        <option value="where">{{ 'where' | translate }}</option>
                        <option value="having">{{ 'having' | translate }}</option>
                      </select>
                      <div *ngIf="isItemFieldInvalid(i, 'clauseType')" class="invalid-feedback text-danger">
                        {{ getItemErrorMessage(i, 'clauseType') }}
                      </div>
                    </div>
                  </td>
                  <td class="w-1/16">
                    <div class="mb-2">
                      <select
                        [id]="'isSortable' + i"
                        formControlName="isSortable"
                        appDynamicFontSize="body"
                        class="form-select w-full"
                        [ngClass]="{ 'is-invalid': isItemFieldInvalid(i, 'isSortable') }"
                      >
                        <option value selected disabled>{{ 'select_any' | translate }}</option>
                        <option value="true">{{ 'yes' | translate }}</option>
                        <option value="false">{{ 'no' | translate }}</option>
                      </select>
                      <div *ngIf="isItemFieldInvalid(i, 'isSortable')" class="invalid-feedback text-danger">
                        {{ getItemErrorMessage(i, 'isSortable') }}
                      </div>
                    </div>
                  </td>
                  <td class="w-1/12">
                    <div class="mb-2">
                      <select
                        [id]="'fieldType' + i"
                        formControlName="fieldType"
                        appDynamicFontSize="body"
                        class="form-select w-full"
                        [ngClass]="{ 'is-invalid': isItemFieldInvalid(i, 'fieldType') }"
                      >
                        <option value selected disabled>{{ 'select_any' | translate }}</option>
                        <ng-container *ngFor="let fieldType of field_types">
                          <option [value]="fieldType.value">{{ fieldType.label | translate }}</option>
                        </ng-container>
                      </select>
                      <div *ngIf="isItemFieldInvalid(i, 'fieldType')" class="invalid-feedback text-danger">
                        {{ getItemErrorMessage(i, 'fieldType') }}
                      </div>
                    </div>
                  </td>
                  <td class="w-1/16">
                    <div class="mb-2">
                      <select
                        [id]="'linkType' + i"
                        formControlName="linkType"
                        appDynamicFontSize="body"
                        class="form-select w-full"
                        [ngClass]="{ 'is-invalid': isItemFieldInvalid(i, 'linkType') }"
                      >
                        <option value="none">{{ 'none' | translate }}</option>
                        <option value="component">{{ 'component' | translate }}</option>
                        <option value="url">{{ 'url' | translate }}</option>
                      </select>
                      <div *ngIf="isItemFieldInvalid(i, 'linkType')" class="invalid-feedback text-danger">
                        {{ getItemErrorMessage(i, 'linkType') }}
                      </div>
                    </div>
                  </td>
                  <td class="w-2/12">
                    <div class="mb-2">
                      <ng-container [ngSwitch]="item.get('linkType')?.value">
                        <select
                          *ngSwitchCase="'component'"
                          [id]="'linkAction' + i"
                          formControlName="linkAction"
                          appDynamicFontSize="body"
                          class="form-select w-full"
                          [ngClass]="{ 'is-invalid': isItemFieldInvalid(i, 'linkAction') }"
                        >
                          <option value="">{{ 'select_any' | translate }}</option>
                          <ng-container *ngFor="let entity of masterEntities">
                            <option [value]="entity.value">{{ entity.label }}</option>
                          </ng-container>
                        </select>
                        <input
                          *ngSwitchCase="'url'"
                          [id]="'linkAction' + i"
                          type="text"
                          formControlName="linkAction"
                          appDynamicFontSize="body"
                          class="form-input w-full"
                          placeholder="{{ 'enter_url' | translate }}"
                          [ngClass]="{ 'is-invalid': isItemFieldInvalid(i, 'linkAction') }"
                        />
                        <span *ngSwitchDefault>-</span>
                      </ng-container>
                      <div *ngIf="isItemFieldInvalid(i, 'linkAction')" class="invalid-feedback text-danger">
                        {{ getItemErrorMessage(i, 'linkAction') }}
                      </div>
                    </div>
                  </td>
                  <td class="w-1/12">
                    <button type="button" (click)="removeItem(i)"><i class="fa-solid fa-xmark text-xl"></i>&nbsp;</button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!--Modal for Copy sample content-->

<div class="fixed inset-0 z-50 overflow-y-auto" *ngIf="isInfoModalOpen">
  <!-- Modal Backdrop -->
  <div class="fixed inset-0 bg-black/50 transition-opacity dark:bg-black/70"></div>

  <!-- Modal Panel -->
  <div class="flex min-h-screen items-center justify-center p-2 sm:p-4">
    <div
      class="max-w-auto relative w-10/12 transform overflow-hidden rounded-lg bg-white shadow-xl transition-all dark:border dark:border-gray-700 dark:bg-gray-800 sm:w-8/12"
    >
      <!-- Modal Header -->
      <div class="border-b bg-gray-50 px-4 py-3 dark:border-gray-700 dark:bg-gray-900 sm:px-6">
        <div class="flex items-center justify-between">
          <div class="flex gap-4">
            <p class="text-md font-bold" appDynamicFontSize="body">{{ popupInformation.header | translate }}</p>
          </div>
          <button class="close-btn" (click)="closeInfoPopUp()">
            <span class="sr-only">Close</span>
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>

      <!-- Modal Content -->
      <div class="max-h-auto gap-5 overflow-y-auto px-4 py-4 sm:px-6">
        <!-- Copy Button (Top Left Corner) -->
        <!-- <button
          *ngIf="!copied"
          class="absolute bottom-6 right-10 z-50 rounded bg-transparent px-3 py-1 text-sm text-white hover:bg-gray-700"
          (click)="copyToClipboard()"
        >
          📋
        </button> -->
        <!-- Tabs Navigation -->
        <div class="flex flex-wrap border-b border-white-light dark:border-[#191e3a]">
          <ng-container *ngFor="let name of popupInformation.tabNames; let i = index">
            <button
              class="-mb-[1px] block border border-transparent p-3.5 py-2 !outline-none transition duration-300 hover:text-primary dark:hover:border-b-black"
              [ngClass]="{ '!border-white-light !border-b-white text-primary dark:!border-[#191e3a] dark:!border-b-black': selectedInfoTab == i }"
              (click)="selectTab(i)"
            >
              {{ name }}
            </button>
          </ng-container>
        </div>
        <!--comments-->
        <div class="px-4 sm:px-6">
          <ul class="flex list-disc flex-col gap-3">
            <li *ngFor="let item of popupInformation.comments">
              <div class="flex items-center gap-2">
                <span class="text-sm" appDynamicFontSize="body">{{ item | translate }}</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="relative">
          <p *ngIf="copied" class="absolute right-5 top-3 z-50 rounded bg-green-700 px-3 py-1 text-sm text-white hover:bg-green-600">Copied to clipboard!</p>
          <div class="monaco-editor-container .editor-container mt-3 rounded border border-gray-300">
            <!-- Monaco Editor -->
            <ngx-monaco-editor
              monacoEditor
              (click)="copyToClipboard()"
              [options]="popupInfoEditorOptions"
              id="popupInformation"
              [(ngModel)]="popupInformation.data"
              class="monaco-editor"
            ></ngx-monaco-editor>
            <div class="editor-overlay" (click)="copyToClipboard()"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
