<div class="panel">
  <div class="mb-5 flex flex-col items-start justify-between gap-3 lg:flex-row lg:items-center">
    <h5 class="text-lg font-semibold dark:text-white-light">
      <!-- Email template assignment -->
      {{ 'email_template_assignment_form' | translate }}
    </h5>
    <div class="align-center flex gap-3">
      <button appDynamicFontSize="body" type="button" class="btn btn-danger mr-5 ltr:rounded-r rtl:rounded-l" (click)="location.back()">
        {{ 'back' | translate }}
      </button>
      <button type="submit" class="btn btn-outline-secondary ng-tns-c3247919129-2 text-xs ltr:rounded-r rtl:rounded-l" (click)="submit()">Submit</button>
    </div>
  </div>

  <div>
    <form [formGroup]="form">
      <div formGroupName="notification_template_process" class="mb-5 flex flex-col items-start justify-between gap-3 lg:flex-row lg:items-center">
        <div class="min-w-200-p">
          <div class="form-group">
            <label for="notification_template_process_id">{{ 'email_template_process' | translate }} <span class="text-danger">*</span></label>
            <select
              formControlName="notification_template_process_id"
              class="form-select w-full py-1 text-xs text-gray-700 placeholder:text-white-dark dark:bg-gray-800 dark:text-white-dark"
              required
            >
              <option value="">Please select</option>
              @for(process of emailTemplateProcessDetail; track process; let i = $index) {
              <option [value]="process.id">{{ process.name }}</option>
              }
            </select>
          </div>
        </div>

        <button
          (click)="addEmailTemplateAssignment()"
          class="hover:bg-primary-dark dark:bg-primary-dark dark:focus:ring-primary-dark flex w-40 flex-row items-center justify-center gap-8 rounded-md bg-primary px-6 py-2 text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 dark:text-white"
          type="button"
        >
          Add
        </button>
      </div>

      <div formArrayName="notification_template_assignments">
        @for(assignment of getTemplateAssignmentList(); track assignment; let i = $index) {
        <div [formGroupName]="i" class="my-4">
          <div class="grid grid-cols-4 gap-3">
            <div class="form-group">
              <label>{{ 'email_template' | translate }} <span class="text-danger">*</span></label>
              <select
                formControlName="template_id"
                class="form-select w-full py-1 text-xs text-gray-700 placeholder:text-white-dark dark:bg-gray-800 dark:text-white-dark"
                required
              >
                @for(template of templateList; track template; let i = $index) {
                <option [value]="template.value">{{ template.label }}</option>
                }
              </select>
              @if (assignment.get('template_id')?.invalid && (assignment.get('template_id')?.touched || assignment.get('template_id')?.dirty)) {
              <div class="invalid-feedback mt-1 text-danger">
                {{ 'email_template_is_required' | translate }}
              </div>
              }
            </div>

            <div class="form-group">
              <label>{{ 'recipient_type' | translate }} <span class="text-danger">*</span></label>
              <select
                formControlName="recipient_type"
                class="form-select w-full py-1 text-xs text-gray-700 placeholder:text-white-dark dark:bg-gray-800 dark:text-white-dark"
                required
                (change)="clearUserTagValues(assignment)"
              >
                <option value="tag">Tag</option>
                <option value="user_id">User</option>
                <option value="custom">Custom Mail</option>
              </select>
            </div>

            @if (assignment.get('recipient_type')?.value === 'tag') {
            <div class="form-group">
              <label>{{ 'email_tag' | translate }} <span class="text-danger">*</span></label>
              <select
                formControlName="notification_to"
                class="form-select w-full py-1 text-xs text-gray-700 placeholder:text-white-dark dark:bg-gray-800 dark:text-white-dark"
                required
                (change)="getTemplateAssignmentTags(assignment.get('notification_to')?.value, assignment)"
              >
                @for(tag of recipientTags; track tag; let i = $index) {
                <option [value]="tag.id">{{ tag.name }}</option>
                }
              </select>
              @if (assignment.get('notification_to')?.invalid && (assignment.get('notification_to')?.touched || assignment.get('notification_to')?.dirty)) {
              <div class="invalid-feedback mt-1 text-danger">
                {{ 'email_tag_is_required' | translate }}
              </div>
              } @if (assignment.get('email_tag_mail')?.value) {
              <div class="mt-5">sends to : {{ assignment.get('email_tag_mail')?.value }}</div>
              }
            </div>
            } @if (assignment.get('recipient_type')?.value === 'user_id') {
            <div class="form-group">
              <label>{{ 'user_email' | translate }} <span class="text-danger">*</span></label>
              <ng-select
                bindLabel="label"
                bindValue="value"
                formControlName="notification_to"
                [clearable]="true"
                [searchable]="true"
                placeholder="Select User"
                class="custom-multiselect et-ng-select"
                (search)="getUsers(assignment, $event.term || '')"
                (clear)="getUsers(assignment, '')"
              >
                @for(user of assignment.get('user_list')?.value; track user; let i = $index) {
                <ng-option [value]="user.value">{{ user.label }}</ng-option>
                }
              </ng-select>
              @if (assignment.get('notification_to')?.invalid && (assignment.get('notification_to')?.touched || assignment.get('notification_to')?.dirty)) {
              <div class="invalid-feedback mt-1 text-danger">
                {{ 'user_email_is_required' | translate }}
              </div>
              }
            </div>
            } @if (assignment.get('recipient_type')?.value === 'custom') {
            <div class="form-group">
              <label>{{ 'email' | translate }} <span class="text-danger">*</span></label>
              <input
                type="email"
                class="form-control form-input w-full py-1 text-xs text-gray-600 placeholder:text-white-dark"
                formControlName="notification_to"
                placeholder="Enter email address"
                required
              />
              <div class="mt-5">Note : Can add multiple emails as comma seperated values eg: {{ 'example1@gmail.com, example2@gmail.com' }}</div>
              @if (assignment.get('notification_to')?.invalid && (assignment.get('notification_to')?.touched || assignment.get('notification_to')?.dirty)) {
              <div class="invalid-feedback mt-1 text-danger">
                {{ 'email_is_required' | translate }}
              </div>
              }
            </div>
            } @if(i > 0) {
            <i class="fa-solid fa-xmark color-red mt-5 cursor-pointer text-xl" (click)="removeEmailTemplateAssignment(i)"></i>
            }
          </div>

          <div class="mt-5 rounded border p-3">
            <div formArrayName="cc_bcc" class="grid grid-cols-1">
              @for(ccBcc of getCcBccControls(i); track ccBcc; let j = $index) {
              <div [formGroupName]="j" class="mt-4 grid grid-cols-4 gap-3">
                <div class="form-group">
                  <label>{{ 'send_type' | translate }} <span class="text-danger">*</span></label>
                  <select
                    formControlName="send_type"
                    class="form-select w-full py-1 text-xs text-gray-700 placeholder:text-white-dark dark:bg-gray-800 dark:text-white-dark"
                    required
                  >
                    <option value="cc">CC</option>
                    <option value="bcc">BCC</option>
                  </select>
                  @if (ccBcc.get('send_type')?.invalid && (ccBcc.get('send_type')?.touched || ccBcc.get('send_type')?.dirty)) {
                  <div class="invalid-feedback mt-1 text-danger">
                    {{ 'send_type_is_required' | translate }}
                  </div>
                  }
                </div>

                <div class="form-group">
                  <label>{{ 'recipient_type' | translate }} <span class="text-danger">*</span></label>
                  <select
                    formControlName="recipient_type"
                    class="form-select w-full py-1 text-xs text-gray-700 placeholder:text-white-dark dark:bg-gray-800 dark:text-white-dark"
                    required
                    (change)="clearUserTagValues(ccBcc, 'cc')"
                  >
                    <option value="tag">Tag</option>
                    <option value="user_id">User</option>
                    <option value="custom">Custom Mail</option>
                  </select>
                  @if (ccBcc.get('recipient_type')?.invalid && (ccBcc.get('recipient_type')?.touched || ccBcc.get('recipient_type')?.dirty)) {
                  <div class="invalid-feedback mt-1 text-danger">
                    {{ 'recipient_type_is_required' | translate }}
                  </div>
                  }
                </div>

                @if (ccBcc.get('recipient_type')?.value === 'tag') {
                <div class="form-group">
                  <label>{{ 'email_tag' | translate }} <span class="text-danger">*</span></label>
                  <select
                    formControlName="email_to"
                    class="form-select w-full py-1 text-xs text-gray-700 placeholder:text-white-dark dark:bg-gray-800 dark:text-white-dark"
                    (change)="getTemplateAssignmentTags(ccBcc.get('email_to')?.value, ccBcc)"
                    required
                  >
                    @for(tag of recipientTags; track tag; let i = $index) {
                    <option [value]="tag.id">{{ tag.name }}</option>
                    }
                  </select>
                  @if (ccBcc.get('email_to')?.invalid && (ccBcc.get('email_to')?.touched || ccBcc.get('email_to')?.dirty)) {
                  <div class="invalid-feedback mt-1 text-danger">
                    {{ 'email_tag_is_required' | translate }}
                  </div>
                  } @if (ccBcc.get('email_tag_mail')?.value) {
                  <div class="mt-5">sends to : {{ ccBcc.get('email_tag_mail')?.value }}</div>
                  }
                </div>
                } @if (ccBcc.get('recipient_type')?.value === 'user_id') {
                <div class="form-group">
                  <label>{{ 'user_email' | translate }} <span class="text-danger">*</span></label>
                  <ng-select
                    bindLabel="label"
                    bindValue="value"
                    formControlName="email_to"
                    [clearable]="true"
                    [searchable]="true"
                    placeholder="Select User"
                    class="custom-multiselect et-ng-select"
                    (search)="getUsers(ccBcc, $event.term || '')"
                    (clear)="getUsers(ccBcc, '')"
                  >
                    @for(user of ccBcc.get('user_list')?.value; track user; let i = $index) {
                    <ng-option [value]="user.value">{{ user.label }}</ng-option>
                    }
                  </ng-select>
                  @if (ccBcc.get('email_to')?.invalid && (ccBcc.get('email_to')?.touched || ccBcc.get('email_to')?.dirty)) {
                  <div class="invalid-feedback mt-1 text-danger">
                    {{ 'user_email_is_required' | translate }}
                  </div>
                  }
                </div>
                } @if (ccBcc.get('recipient_type')?.value === 'custom') {
                <div class="form-group">
                  <label>{{ 'email' | translate }} <span class="text-danger">*</span></label>
                  <input
                    type="email"
                    class="form-control form-input w-full py-1 text-xs text-gray-600 placeholder:text-white-dark"
                    formControlName="email_to"
                    placeholder="Enter email address"
                    required
                  />
                  @if (ccBcc.get('email_to')?.invalid && (ccBcc.get('email_to')?.touched || ccBcc.get('email_to')?.dirty)) {
                  <div class="invalid-feedback mt-1 text-danger">
                    {{ 'email_is_required' | translate }}
                  </div>
                  }
                  <div class="mt-5">Note : Can add multiple emails as comma seperated values eg: {{ 'example1@gmail.com, example2@gmail.com' }}</div>
                </div>
                }

                <i class="fa-solid fa-xmark mt-5 text-xl" (click)="removeCcBccGroup(i, j)"> </i>
              </div>
              }
            </div>
            <button
              type="button"
              class="hover:bg-primary-dark dark:bg-primary-dark dark:focus:ring-primary-dark mt-5 flex flex-row items-center justify-center gap-8 rounded-md bg-primary px-6 py-2 text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 dark:text-white"
              (click)="addCcBccGroup(i)"
            >
              {{ 'add_cc_bcc' | translate }}
            </button>
          </div>
        </div>
        }
      </div>
    </form>
  </div>
</div>
