<div class="mb-10">
  <h1 class="text-3xl uppercase !leading-snug md:text-4xl">{{ this.title_key | translate }}</h1>
  <!--<p class="text-base font-bold leading-normal text-white-dark">{{ 'form_label_login_description' | translate }}</p>-->
</div>
<form class="space-y-5 dark:text-white" [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="login-form">
    <label for="Email">{{ 'form_label_email' | translate }}</label>
    <div class="relative text-white-dark">
      <input
        formControlName="email"
        id="Email"
        type="email"
        placeholder="{{ 'form_label_email_placeholder' | translate }}"
        class="form-input ps-10 placeholder:text-white-dark"
        [class.is-invalid]="isSubmitted && loginForm.controls['email'].invalid"
      />
      <span class="absolute start-4 top-1/2 -translate-y-1/2">
        <i class="fa-solid fa-envelope"></i>
      </span>
    </div>
    @if (isSubmitted && loginForm.controls['email'].hasError('pattern')) {
    <div class="text-danger">
      {{ 'form_email_valid_msg' | translate }}
    </div>
    } @if (isSubmitted && loginForm.controls['email'].hasError('required')) {
    <div class="text-danger">
      {{ 'form_email_req_msg' | translate }}
    </div>
    } @if (isSubmitted && loginForm.controls['email'].hasError('email')) {
    <div class="text-danger">{{ 'form_email_valid_msg' | translate }}</div>
    }
  </div>
  <div class="login-form">
    <label for="Password">{{ 'form_label_password' | translate }}</label>
    <div class="relative text-white-dark">
      <input
        autocomplete="new-password"
        formControlName="password"
        id="Password"
        [type]="passwordVisible ? 'text' : 'password'"
        placeholder="{{ 'form_label_password_placeholder' | translate }}"
        class="form-input ps-10 placeholder:text-white-dark"
        [class.is-invalid]="isSubmitted && loginForm.controls['password'].invalid"
      />
      <span class="absolute start-4 top-1/2 -translate-y-1/2">
        <i class="fa-solid fa-unlock-keyhole"></i>
      </span>
      <span
        class="absolute end-4 top-1/2 -translate-y-1/2 cursor-pointer"
        (click)="togglePasswordVisibility(); toggleIcon()"
        [ngClass]="{ 'text-dark': iconClicked, 'text-light': !iconClicked }"
      >
        <i class="fa-regular fa-eye"></i>
      </span>
    </div>
    @if (isSubmitted && passwordControl?.invalid) {
    <div class="text-danger">{{ 'form_email_req_pwd' | translate }}</div>
    }
  </div>
  <div class="login-form flex items-center justify-between">
    <label class="flex cursor-pointer items-center">
      <input formControlName="subscribe" type="checkbox" class="form-checkbox bg-white dark:bg-black" />
      <span class="text-white-dark">{{ 'form_remember_me' | translate }}</span>
    </label>
    <a routerLink="/forget-password" class="text-white-dark hover:text-blue-500">
      {{ 'forget_pwd' | translate }}
    </a>
  </div>
  <button type="submit" class="btn btn-primary login-form !mt-6 w-full border-0 uppercase shadow-[0_10px_20px_-10px_rgba(67,97,238,0.44)]">
    {{ 'submit' | translate }}
  </button>
</form>
<!--<div class="relative my-7 text-center md:mb-9">
    <span class="absolute inset-x-0 top-1/2 h-px w-full -translate-y-1/2 bg-white-light dark:bg-white-dark"></span>
    <span class="relative bg-white px-2 font-bold uppercase text-white-dark dark:bg-dark dark:text-white-light">or</span>
  </div>-->
<!--<div class="mb-10 md:mb-[60px]">
  <ul class="flex justify-center gap-3.5 text-white">
    <li>
      <a
        href="javascript:"
        class="inline-flex h-8 w-8 items-center justify-center rounded-full p-0 transition hover:scale-110"
        style="background: linear-gradient(135deg, rgba(239, 18, 98, 1) 0%, rgba(67, 97, 238, 1) 100%)"
        >
        <icon-instagram />
      </a>
    </li>
    <li>
      <a
        href="javascript:"
        class="inline-flex h-8 w-8 items-center justify-center rounded-full p-0 transition hover:scale-110"
        style="background: linear-gradient(135deg, rgba(239, 18, 98, 1) 0%, rgba(67, 97, 238, 1) 100%)"
        >
        <icon-facebook-circle />
      </a>
    </li>
    <li>
      <a
        href="javascript:"
        class="inline-flex h-8 w-8 items-center justify-center rounded-full p-0 transition hover:scale-110"
        style="background: linear-gradient(135deg, rgba(239, 18, 98, 1) 0%, rgba(67, 97, 238, 1) 100%)"
        >
        <icon-twitter [fill]="true" />
      </a>
    </li>
    <li>
      <a
        href="javascript:"
        class="inline-flex h-8 w-8 items-center justify-center rounded-full p-0 transition hover:scale-110"
        style="background: linear-gradient(135deg, rgba(239, 18, 98, 1) 0%, rgba(67, 97, 238, 1) 100%)"
        >
        <icon-google />
      </a>
    </li>
  </ul>
</div>-->
<!--<div class="text-center dark:text-white">
Don't have an account?
<a routerLink="/auth/cover-register" class="uppercase text-primary underline transition hover:text-black dark:hover:text-white"> SIGN UP </a>
</div>-->
