<!-- <input type="file" [formControl]="formControl" [formlyAttributes]="field" />
 <div class="custom-file-container" data-upload-id="myFirstImage"></div> -->
<div class="formly-file-preview">
  <input accept="image/*" type="file" [formControl]="formControl" [formlyAttributes]="field"
    (change)="onFileChange($event)"
    class="formly-file form-input file:py-2 file:px-4 file:border-0 file:font-semibold p-0 file:bg-primary/90 ltr:file:mr-5 rtl:file:ml-5 file:text-white file:hover:bg-primary" />
  <img [src]="defaultImageUrl" alt="formly-img" class="formly-img" style="width: 60px;height: 60px;"
    [hidden]="fileSelected">
</div>