<div class="flex flex-wrap border-b border-white-light dark:border-[#191e3a]">
  <ng-container *ngFor="let tab of requestTabs">
    <button
      class="-mb-[1px] block border border-transparent p-3.5 py-2 !outline-none transition duration-300 hover:text-primary dark:hover:border-b-black"
      [ngClass]="{ '!border-white-light !border-b-white text-primary dark:!border-[#191e3a] dark:!border-b-black': activeTab == tab.name }"
      (click)="setActiveTab(tab.name)"
    >
      {{ tab.name | translate }}
    </button>
  </ng-container>
</div>
<div class="flex-1 p-3 pt-6">
  <app-datatable
    [loading]="gridloading"
    [masterInfo]="masterInfo"
    [enableCheckBox]="enableCheckBox"
    [customTemplates]="customTemplates"
    [headercolumns]="headercolumns"
    [selectcolumns]="selectcolumns"
    [items]="items"
    [totalItems]="totalItems"
    [currentPage]="currentPage"
    [resultsPerPage]="resultsPerPage"
    [column]="column"
    [title]="title"
    [query]="query"
    (view)="viewItem($event)"
    (customAction)="handleCustomAction($event)"
    (pageChange)="onPageChange($event)"
    (resultsPerPageChange)="onResultsPerPageChange($event)"
    (columnSort)="sortColumn($event)"
    (searchQuery)="searchData($event)"
    (exportType)="exportTable($event)"
    (advancedSearchQuery)="advancedSearchData($event)"
  ></app-datatable>
  <ng-template #actionTemplate let-item>
    <div class="flex items-center gap-4">
      <a
        href="javascript:void(0);"
        class="hover:text-primary"
        *ngIf="this.masterInfo.permissions.details"
        (click)="this.viewItem(item)"
        ngxTippy
        data-tippy-content="Details"
        appDynamicFontSize="body"
      >
        <i class="fa-regular fa-eye {{ store.fontsize === 'large' ? 'h-5.5 w-5.5' : store.fontsize === 'medium' ? 'h-4.5 w-4.5' : 'h-3.5 w-3.5' }}"></i>
      </a>
      <a
        href="javascript:void(0);"
        class="hover:text-primary"
        appDynamicFontSize="body"
        *ngIf="this.masterInfo.permissions.record_export"
        (click)="this.recordExport(item)"
        ngxTippy
        data-tippy-content="Record Export"
      >
        <i class="fa fa-download {{ store.fontsize === 'large' ? 'h-5.5 w-5.5' : store.fontsize === 'medium' ? 'h-4.5 w-4.5' : 'h-3.5 w-3.5' }}"></i>
      </a>
    </div>
  </ng-template>

  <ng-template #statusTemplate let-item>
    <span
      class="badge"
      [ngClass]="[
        store.fontsize === 'large' ? 'text-base' : store.fontsize === 'medium' ? 'text-sm' : 'text-xs',
        item.status ? 'badge-outline-success' : 'badge-outline-danger'
      ]"
    >
      {{
        item.status == '1' ? ('table_status_val_0' | translate) : item.status == '2' ? ('table_status_val_1' | translate) : ('table_status_val_2' | translate)
      }}
    </span>
  </ng-template>
  <ng-template #approvalStatusTemplate let-item>
    <span
      class="badge"
      [ngClass]="[
        store.fontsize === 'large' ? 'text-base' : store.fontsize === 'medium' ? 'text-sm' : 'text-xs',
        item.approval_status === 'approval_completed' ? 'badge-outline-success' : 'badge-outline-danger'
      ]"
    >
      {{
        item.approval_status == 'pending'
          ? ('table_status_val_pending' | translate)
          : item.approval_status == 'approval_needed'
          ? ('table_status_val_approval_needed' | translate)
          : item.approval_status == 'approval_completed'
          ? ('table_status_val_approval_completed' | translate)
          : ('table_status_val_approval_rejected' | translate)
      }}
    </span>
  </ng-template>
</div>

<app-loader *ngIf="loading"></app-loader>
