<form [formGroup]="mappingForm" (ngSubmit)="mapPermissions()" class="space-y-6">
  <div class="header-panel mb-1 mt-0 flex flex-col gap-5 px-2 md:flex-row md:items-center">
    <div class="font-bold dark:text-white-light" appDynamicFontSize="title">
      {{ 'entity_user_role_map_page' | translate }}
    </div>

    <div class="flex items-center gap-4 md:flex-row md:items-center md:ltr:ml-auto md:rtl:mr-auto">
      <div class="flex flex-col gap-2 md:flex-row md:items-center">
        <div class="relative mb-2 flex-grow md:mb-0" appDynamicFontSize="body">
          <ul class="flex list-inside space-x-3 pt-2 font-semibold dark:text-[#d0d2d6] rtl:space-x-reverse">
            <li>
              <label class="flex cursor-pointer items-center">
                <input type="radio" name="permission_type" class="form-radio" value="role"
                  formControlName="permission_type" />
                <span class="text-white-dark">{{ 'role_permission' | translate }}</span>
              </label>
            </li>
            <li>
              <label class="flex cursor-pointer items-center">
                <input type="radio" name="permission_type" class="form-radio" value="user"
                  formControlName="permission_type" />
                <span class="text-white-dark">{{ 'user_permission' | translate }}</span>
              </label>
            </li>
          </ul>
        </div>
        <div class="align-center inline-contents relative justify-center"
          *ngIf="mappingForm.get('permission_type')?.value === 'role'">
          <!-- <label for="role">{{ 'select_role' | translate }}</label> -->
          <select appDynamicFontSize="body" id="role" class="form-select mr-2 flex w-full items-center text-white-dark"
            formControlName="role" (change)="getEntityList()">
            <option value>{{ 'select_role' | translate }}</option>
            <option *ngFor="let role of roleList" [value]="role.id">{{ role.name }}</option>
          </select>
        </div>
        <div class="align-center inline-contents relative justify-center"
          *ngIf="mappingForm.get('permission_type')?.value === 'user'">
          <!-- <label for="user">{{ 'select_user' | translate }}</label> -->
          <select appDynamicFontSize="body" id="user" class="form-select mr-2 flex w-full items-center text-white-dark"
            formControlName="user" (change)="getEntityList()">
            <option value>{{ 'select_user' | translate }}</option>
            <option *ngFor="let user of userList" [value]="user.id">{{ user.name }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div formArrayName="entities" class="ml-2">
    <ng-container *ngFor="let entityGroup of getEntitiesControls(); let i = index" [formGroupName]="i">
      <!-- Parent Entity -->
      <div class="ml-4">
        <h3 class="text-lg font-semibold">{{ entityGroup.get('name')?.value }}</h3>

        <!-- Permissions for Parent Entity -->
        <div formArrayName="rights" class="flex gap-2 ml-4">
          <div *ngFor="let rightGroup of getRightsControls(entityGroup); let j = index" [formGroupName]="j"
            class="flex items-center">
            <label class="ml-2 text-sm mt-1">
              <input type="checkbox" formControlName="selected"
                class="h-4 w-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500" />
              {{ rightGroup.get('name')?.value }}</label>
          </div>
        </div>

        <!-- Child Entities -->
        <div formArrayName="children" class="ml-8">
          <ng-container *ngFor="let childGroup of getChildrenControls(entityGroup); let k = index" [formGroupName]="k">
            <!-- Recursive rendering of children -->
            <div class="ml-4">
              <h4 class="text-md font-semibold">{{ childGroup.get('name')?.value }}</h4>

              <!-- Permissions for Child Entity -->
              <div formArrayName="rights" class="flex gap-2 ml-4">
                <div *ngFor="let rightGroup of getRightsControls(childGroup); let l = index" [formGroupName]="l"
                  class="flex items-center">
                  <label class="ml-2 text-sm mt-1">
                    <input type="checkbox" formControlName="selected"
                      class="h-4 w-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500" />
                    {{ rightGroup.get('name')?.value }}</label>
                </div>
              </div>

              <!-- Recursively call child entities -->
              <div formArrayName="children" class="ml-8">
                <ng-container *ngFor="let subChildGroup of getChildrenControls(childGroup); let m = index"
                  [formGroupName]="m">
                  <div class="ml-4">
                    <h5 class="text-md font-medium">{{ subChildGroup.get('name')?.value }}</h5>

                    <div formArrayName="rights" class="flex gap-2 ml-4">
                      <div *ngFor="let rightGroup of getRightsControls(subChildGroup); let n = index"
                        [formGroupName]="n" class="flex items-center">
                        <label class="ml-2 text-sm mt-1">
                          <input type="checkbox" formControlName="selected"
                            class="h-4 w-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500" />
                          {{ rightGroup.get('name')?.value }}</label>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="mt-4 flex justify-end">
    <button type="submit"
      class="px-6 py-2 bg-indigo-600 text-white rounded-md shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
      Submit
    </button>
  </div>
</form>