<form [formGroup]="mappingForm" (ngSubmit)="mapPermissions()" class="space-y-6">
  <div class="header-panel mb-1 mt-0 flex flex-col gap-5 px-2 md:flex-row md:items-center">
    <div class="font-bold dark:text-white-light" appDynamicFontSize="title">
      {{ 'entity_user_role_map_page' | translate }}
    </div>

    <label class="flex items-center text-sm">
      <input
        type="checkbox"
        [checked]="areAllEntitiesChecked()"
        (change)="toggleAllEntities($event)"
        class="form-checkbox ml-2 h-4 w-4 rounded border-gray-300 text-primary"
      />
      <span class="ml-1">Select All</span>
    </label>

    <div class="flex items-center gap-4 md:flex-row md:items-center md:ltr:ml-auto md:rtl:mr-auto">
      <div class="flex flex-col gap-2 md:flex-row md:items-center">
        <div class="relative mb-2 flex-grow md:mb-0" appDynamicFontSize="body">
          <ul class="flex list-inside space-x-3 pt-2 font-semibold text-gray-700 dark:text-[#d0d2d6] rtl:space-x-reverse">
            <li>
              <label class="flex cursor-pointer items-center">
                <input type="radio" name="permission_type" class="form-radio" value="role" formControlName="permission_type" />
                <span class="text-gray-900 dark:text-white-dark">{{ 'role_permission' | translate }}</span>
              </label>
            </li>
            <li>
              <label class="flex cursor-pointer items-center">
                <input type="radio" name="permission_type" class="form-radio" value="user" formControlName="permission_type" />
                <span class="text-gray-900 dark:text-white-dark">{{ 'user_permission' | translate }}</span>
              </label>
            </li>
          </ul>
        </div>

        <div class="align-center inline-contents relative justify-center" *ngIf="mappingForm.get('permission_type')?.value === 'role'">
          <select
            appDynamicFontSize="body"
            id="role"
            class="form-select mr-2 flex w-full items-center text-gray-700 dark:bg-gray-800 dark:text-white-dark"
            formControlName="role"
            (change)="getEntityList()"
          >
            <option value>{{ 'select_any' | translate }}</option>
            <option *ngFor="let role of roleList" [value]="role.id">{{ role.name }}</option>
          </select>
        </div>

        <div class="align-center inline-contents relative justify-center" *ngIf="mappingForm.get('permission_type')?.value === 'user'">
          <select
            appDynamicFontSize="body"
            id="user"
            class="form-select mr-2 flex w-full items-center text-gray-700 dark:bg-gray-800 dark:text-white-dark"
            formControlName="user"
            (change)="getEntityList()"
          >
            <option value>{{ 'select_any' | translate }}</option>
            <option *ngFor="let user of userList" [value]="user.id">{{ user.name }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="relative h-full w-full">
    <!-- Content Wrapper for scrolling -->
    <div class="h-full w-full">
      <div formArrayName="entities" class="ml-2 min-w-full sm:min-w-[700px] lg:min-w-[1200px]">
        <ng-container *ngFor="let entityGroup of getEntitiesControls(); let i = index" [formGroupName]="i">
          <div
            class="mb-2 overflow-x-auto rounded-lg border bg-gray-100 p-4 shadow-sm dark:bg-black"
            [ngClass]="{ 'flex items-center': getSortedRightsControls(entityGroup).length > 0 }"
          >
            <button
              type="button"
              class="flex items-center font-semibold text-gray-900 dark:text-white md:w-80"
              appDynamicFontSize="title"
              [title]="entityGroup.get('name')?.value | translate"
              (click)="toggleExpand(entityGroup)"
            >
              <input
                *ngIf="getSortedRightsControls(entityGroup).length > 0"
                type="checkbox"
                [checked]="isAllChecked(entityGroup)"
                (change)="toggleAllRights(entityGroup, getCheckboxChecked($event))"
                class="form-checkbox h-4 w-4 rounded border-gray-300 text-primary"
              />
              <i class="fas" [ngClass]="entityGroup.get('menu_img')?.value"></i>
              <span class="ml-2" appDynamicFontSize="title">{{ entityGroup.get('name')?.value | translate }}</span>
              <i class="fas ml-4" [ngClass]="entityGroup.get('expanded')?.value ? 'fa-chevron-up' : 'fa-chevron-down'"></i>

              <!-- All checkbox placed right after arrow icon -->
              <label class="ml-4 flex items-center text-sm" (click)="$event.stopPropagation()">
                <input
                  type="checkbox"
                  [checked]="isAllChecked(entityGroup)"
                  (change)="toggleAllRightsO(entityGroup, getCheckboxChecked($event))"
                  class="form-checkbox h-4 w-4 rounded border-gray-300 text-primary"
                />
                <span class="ml-1">Select All</span>
              </label>
            </button>

            <ng-container *ngIf="entityGroup.get('expanded')?.value">
              <!-- Font Awesome Right Arrow -->
              <ng-container *ngIf="getSortedRightsControls(entityGroup).length > 0">
                <i class="fas fa-arrow-right mx-2"></i>
              </ng-container>

              <div formArrayName="rights" class="ml-7 mt-2 flex flex-wrap gap-2">
                <ng-container *ngFor="let rightGroup of getSortedRightsControls(entityGroup); let j = index" [formGroupName]="j">
                  <label class="flex items-center justify-center whitespace-nowrap" *ngIf="rightGroup.get('name')?.value">
                    <input
                      type="checkbox"
                      (change)="onCheckboxChange(rightGroup, $event, entityGroup)"
                      formControlName="selected"
                      class="form-checkbox h-4 w-4 rounded border-gray-300 align-middle text-primary"
                    />
                    <span class="leading-none" appDynamicFontSize="subtitle">{{ rightGroup.get('name')?.value | translate }}</span>
                      <span *ngIf="rightGroup.get('name')?.value === 'view' && rightGroup.get('dashboard_grid')?.value" >
                        ( {{ rightGroup.get('dashboard_grid')?.value | translate }} )
                      </span>
                    <!------  -->
                  </label>
                </ng-container>
              </div>

              <div formArrayName="children" class="ml-7 mt-2">
                <ng-container *ngFor="let childGroup of getChildrenControls(entityGroup); let k = index" [formGroupName]="k">
                  <div class="mb-2 overflow-x-auto" [ngClass]="{ 'flex items-center': getSortedRightsControls(childGroup).length > 0 }">
                    <button
                      type="button"
                      class="font-semibold sm:flex sm:items-center md:w-80"
                      appDynamicFontSize="subtitle"
                      [title]="childGroup.get('name')?.value | translate"
                    >
                      <input
                        *ngIf="getSortedRightsControls(childGroup).length > 0"
                        type="checkbox"
                        [checked]="isAllChecked(childGroup)"
                        (change)="toggleAllRights(childGroup, getCheckboxChecked($event))"
                        class="form-checkbox h-4 w-4 rounded border-gray-300 text-primary"
                      />
                      <i class="fas" [ngClass]="childGroup.get('menu_img')?.value"></i>
                      <span class="ml-2" appDynamicFontSize="subtitle">{{ childGroup.get('name')?.value | translate }} </span>
                    </button>

                    <ng-container>
                      <!-- Conditional Arrow for Grandchild Group Rights -->
                      <ng-container *ngIf="getSortedRightsControls(childGroup).length > 0">
                        <i class="fas fa-arrow-right mx-2"></i>
                      </ng-container>

                      <div formArrayName="rights" class="ml-7 mt-2 flex flex-wrap gap-2">
                        <ng-container *ngFor="let rightGroup of getSortedRightsControls(childGroup); let l = index" [formGroupName]="l">
                          <label class="flex items-center justify-center whitespace-nowrap" *ngIf="rightGroup.get('name')?.value">
                            <input
                              type="checkbox"
                              (change)="onCheckboxChange(rightGroup, $event, childGroup)"
                              formControlName="selected"
                              class="form-checkbox h-4 w-4 rounded border-gray-300 align-middle text-primary"
                              appDynamicFontSize="body"
                            />
                            <span class="leading-none" appDynamicFontSize="body">{{ rightGroup.get('name')?.value | translate }}</span>
                            <!-- Check if the permission name is 'child_details' and show the child_entity_name -->
                            <span *ngIf="rightGroup.get('name')?.value === 'child_details'">
                              ( {{ rightGroup.get('child_entity_name')?.value | translate }} )
                            </span>
                          </label>
                        </ng-container>
                      </div>

                      <div formArrayName="children" class="ml-7 mt-2">
                        <ng-container *ngFor="let grandchildGroup of getChildrenControls(childGroup); let m = index" [formGroupName]="m">
                          <div class="mb-2 overflow-x-auto" [ngClass]="{ 'flex items-center': getSortedRightsControls(grandchildGroup).length > 0 }">
                            <button
                              type="button"
                              class="font-semibold sm:flex sm:items-center md:w-80"
                              appDynamicFontSize="subtitle"
                              [title]="grandchildGroup.get('name')?.value | translate"
                            >
                              <input
                                *ngIf="getSortedRightsControls(grandchildGroup).length > 0"
                                type="checkbox"
                                [checked]="isAllChecked(grandchildGroup)"
                                (change)="toggleAllRights(grandchildGroup, getCheckboxChecked($event))"
                                class="form-checkbox h-4 w-4 rounded border-gray-300 text-primary"
                              />
                              <i class="fas" [ngClass]="grandchildGroup.get('menu_img')?.value"></i>
                              <span class="ml-2" appDynamicFontSize="subtitle">{{ grandchildGroup.get('name')?.value | translate }}</span>
                            </button>

                            <ng-container>
                              <!-- Conditional Arrow for Grandchild Group Rights -->
                              <ng-container *ngIf="getSortedRightsControls(grandchildGroup).length > 0">
                                <i class="fas fa-arrow-right mx-2"></i>
                              </ng-container>

                              <div formArrayName="rights" class="ml-7 mt-2 flex flex-wrap gap-2">
                                <ng-container *ngFor="let rightGroup of getSortedRightsControls(grandchildGroup); let n = index" [formGroupName]="n">
                                  <label class="flex items-center justify-center whitespace-nowrap" *ngIf="rightGroup.get('name')?.value">
                                    <input
                                      type="checkbox"
                                      (change)="onCheckboxChange(rightGroup, $event, grandchildGroup)"
                                      formControlName="selected"
                                      class="form-checkbox h-4 w-4 rounded border-gray-300 align-middle text-primary"
                                      appDynamicFontSize="body"
                                    />
                                    <span class="leading-none" appDynamicFontSize="body">{{ rightGroup.get('name')?.value | translate }}</span>
                                    <!-- Dashboard Grid Name -->
                                    <span *ngIf="rightGroup.get('name')?.value === 'view' && rightGroup.get('dashboard_grid')?.value" >
                                      ( {{ rightGroup.get('dashboard_grid')?.value | translate }} )
                                    </span>
                                    <!-- Check if the permission name is 'child_details' and show the child_entity_name -->
                                    <span *ngIf="rightGroup.get('name')?.value === 'child_details'">
                                      ( {{ rightGroup.get('child_entity_name')?.value | translate }} )
                                    </span>
                                  </label>
                                </ng-container>
                              </div>
                            </ng-container>
                          </div>
                        </ng-container>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="mt-4 flex justify-end">
    <button
      type="submit"
      class="hover:bg-primary-dark dark:bg-primary-dark dark:focus:ring-primary-dark rounded-md bg-primary px-6 py-2 text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 dark:text-white"
    >
      Submit
    </button>
  </div>
</form>
